<div class="dsb-main-div" fxLayout="row wrap">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer mode="side" class="dsb-drawer" [opened]="opened">
      <button mat-icon-button id="btn-sidenav-toggle">
        <mat-icon class="material-symbols-outlined" (click)="toggleSidenav()">
          menu_open
        </mat-icon>
      </button>
      <div id="drawerContent">
        <div id="profile-cont">
          <img
            id="profile-img"
            src="../../../assets/images/default_profile.png"
          />
          <h2 style="font-size: 20px; font-weight: 500">USER</h2>
          <label style="font-size: 25px; font-weight: 700">JOHN SMITH</label>
        </div>
        <mat-nav-list id="navlist">
          <mat-list-item
            class="nav-list-item"
            [routerLink]="'overview'"
            [routerLinkActive]="'active-item'"
          >
            <label>Overview</label>
          </mat-list-item>
          <mat-list-item
            class="nav-list-item"
            [routerLink]="'edit-profile'"
            [routerLinkActive]="'active-item'"
          >
            <label>Edit Profile</label>
          </mat-list-item>
        </mat-nav-list>
        <button
          mat-icon-button
          style="color: #f17272; margin-top: 20px"
          matTooltip="Logout"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="dsb-content">
      <button
        mat-icon-button
        id="btn-sidenav-toggle"
        style="
          transform: rotate(180deg);
          background-color: white;
          color: black;
          position: absolute;
          top: 20px;
          left: 0;
          border-bottom-right-radius: 0%;
          border-top-right-radius: 0%;
        "
        *ngIf="!opened"
      >
        <mat-icon class="material-symbols-outlined" (click)="toggleSidenav()">
          menu_open
        </mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
