<div class="dsb-main-div" fxLayout="row wrap">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer
      [mode]="smallScreen ? 'over' : 'side'"
      class="dsb-drawer"
      [opened]="opened"
    >
      <button mat-icon-button id="btn-sidenav-toggle">
        <mat-icon
          class="material-symbols-outlined side-menu-icon"
          (click)="toggleSidenav()"
        >
          menu_open
        </mat-icon>
      </button>
      <div id="drawerContent">
        <div id="profile-cont">
          <img id="profile-img" [src]="imagePath" onerror="this.onerror=null;this.src='../../../assets/images/default_profile.png'"/>
          <div
          class="selected-bc"
          style="cursor: pointer"
          *ngIf="connectedWallet !== ''"
          (click)="openWalletSideBar()"
          matRipple
        >
          <img
            style="width: 21px; height: 21px; cursor: pointer"
            [src]="
              '../../../assets/images/' + connectedWallet.toLowerCase() + '.png'
            "
          />
          <label style="cursor: pointer">
            {{ connectedWallet }} Connected
          </label>
          <span class="connected-dot" style="cursor: pointer"></span>
        </div>
          <!-- <h2 style="font-size: 20px; font-weight: 500">Hi</h2> -->
          <label class="greeting-txt"
            >{{ this.greeting }} </label
          >
          <label class="user-name-txt" >{{ this.Name }}</label>
        </div>
        <mat-nav-list id="navlist">
          <!-- <mat-list-item class="nav-list-item" (click)="backtoHome()">
            <label>Overview</label>
          </mat-list-item> -->
          <mat-list-item class="nav-list-item" [class.active-item]="isActiveRoute('mycollections') || isActiveRoute('mynfts')" (click)="myCollections(this.pk)">
            <label>My Collections</label>
          </mat-list-item>
          <mat-list-item class="nav-list-item" [class.active-item]="isActiveRoute('watchlist')" (click)="myWatchlist(this.pk)">
            <label>Watch List</label>
          </mat-list-item>
          <mat-list-item class="nav-list-item" [class.active-item]="isActiveRoute('favourites')" (click)="myFavourites(this.pk)">
            <label>Favourites</label>
          </mat-list-item>
          <mat-list-item class="nav-list-item" [class.active-item]="isActiveRoute('edit-profile')"(click)="goToEdit(this.pk)">
            <label>Edit Profile</label>
          </mat-list-item>

          <!-- <mat-list-item
        class="nav-list-item"
        (click)="goToOverview()"
      >
      <a href="overview.component.html#favourite">Jump to Chapter 4</a> <label>My Favourites</label>
      </mat-list-item>
      <mat-list-item
      class="nav-list-item"
      (click)="goToOverview()"
    >
      <label>My Most Watched</label>
    </mat-list-item> -->
        </mat-nav-list>
      </div>
    </mat-drawer>
    <mat-drawer-content class="dsb-content">
      <button
        mat-icon-button
        id="btn-sidenav-toggle"
        style="
          transform: rotate(180deg);
          background-color: white;
          color: black;
          position: absolute;
          top: 20px;
          left: 0;
          border-bottom-right-radius: 0%;
          border-top-right-radius: 0%;
          width: 30px;
        "
        *ngIf="!opened"
      >
        <mat-icon
          class="material-symbols-outlined side-menu-icon"
          (click)="toggleSidenav()"
        >
          menu_open
        </mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
