<div id="inbox-outer-div">
  <div id="inbox-header" fxLayout="row wrap" style="background: #232323">
    <div
      fxFlex.xl="40%"
      fxFlex.lg="40%"
      fxFlex.md="40%"
      fxFlex.lt-md="100%"
      class="header-cont"
    >
      <img src="../../../assets/images/admin-endorsment.png" /><br><br>
      <label>Pending Endorsments</label>
    </div>
  
    <div
      fxFlex.xl="40%"
      fxFlex.lg="40%"
      fxFlex.md="40%"
      fxFlex.lt-md="100%"
      class="header-cont"
    >
    <img src="../../../assets/images/amdin-user-faq.png" /><label
    >Pendeing User FAQ</label>
    </div>
    
  </div>
  <div id="inbox-content" fxLayout="row wrap">
    <div id="inbox-cont-1" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <mat-list id="inbox-list">
        <mat-list-item
          class="inbox-list-item"
          *ngFor="let item of pendingEndorsments; index as i"
          matRipple
          (click)="clicked(item)"
        >
          <table class="content-tbl">
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Name</div>
              </td>
              <td>
                <strong>{{ item.Name }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Email</div>
              </td>
              <td>
                <strong>{{ item.Email }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Contact</div>
              </td>
              <td>
                <span class="tbl-bold"><strong>{{ item.Contact }}</strong></span>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">
                  PublicKey  
                </div>
              </td>
              <td>
                  <strong>
                    {{
                      item.PublicKey.substring(0, 6) +
                        "..." +
                        item.PublicKey.substring(item.PublicKey.length - 4, item.PublicKey.length)
                    }}
                  </strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Blockchain</div>
              </td>
              <td>
                <strong>{{ item.Blockchain }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Description</div>
              </td>
              <td>
                <strong>{{ item.Description }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="inbox-list-item">Status</div>
              </td>
              <td>
                <p id="endorsment-status"><strong>{{ item.Status }}</strong></p>
              </td>
            </tr>
          </table>
        </mat-list-item>
      </mat-list>
    </div>
    <div
      style="border-bottom: 1px solid #6d6d6d"
      fxHide.gt-md="true"
      fxFlex="100%"
    ></div>
    <div id="inbox-cont-2" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <div
        class="notification-card"
        [class.separator]="i !== notifications.length - 1"
        *ngFor="let item of notifications; index as i"
      >
        <div class="chats">
          <table lass="content-tbl">
            <tr>
              <td>
                <div mat-line class="FAQ-list">Question from</div>
              </td>
              <td>
                <strong>{{ item.usermail }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="FAQ-list">Category</div>
              </td>
              <td>
                <strong>{{ item.category }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="FAQ-list">Topic</div>
              </td>
              <td>
                <strong>{{ item.subject }}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <div mat-line class="FAQ-list">Description</div>
              </td>
              <td>
                <strong>{{ item.desc }}</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-left: 35%;padding-top: 10px; ">
                <button mat-flat-button class="btn-view" (click)="sendFAQData(item)">Reply</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
