<div id="inbox-outer-div">
  <div id="inbox-header" fxLayout="row wrap">
    <div
      fxFlex.xl="40%"
      fxFlex.lg="40%"
      fxFlex.md="40%"
      fxFlex.lt-md="100%"
      class="header-cont"
    >
      <img src="../../../assets/images/inbox.png" /><label>Inbox</label>
    </div>
    <div
      fxFlex.xl="20%"
      fxFlex.lg="20%"
      fxFlex.md="20%"
      fxHide.lt-md="true"
      style="
        border-left: 1px solid white;
        border-right: 1px solid white;
        height: 72px;
      "
    ></div>
    <div
      fxFlex.xl="40%"
      fxFlex.lg="40%"
      fxFlex.md="40%"
      fxFlex.lt-md="100%"
      class="header-cont"
    >
      <img src="../../../assets/images/create.png" /><label
        >Create NFT or Collection</label
      >
    </div>
  </div>
  <div id="inbox-content" fxLayout="row wrap">
    <div id="inbox-cont-1" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <mat-list id="inbox-list">
        <mat-list-item
          class="inbox-list-item"
          *ngFor="let item of pendingEndorsments; index as i"
          matRipple
          (click)="clicked(item)"
        >
          <div mat-line>Name - {{ item.Name }}  </div>
          <div mat-line>Email - {{ item.Email }}  </div>
          <div mat-line>Contact - {{ item.Contact }}</div>
          <div mat-line>PK - {{ item.PublicKey }}</div>
          <div mat-line>Blockchain - {{ item.Blockchain }}</div>
          <div mat-line>Description - {{ item.Description }}</div>
          <div mat-line>Status - {{ item.Status }}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div
      style="border-bottom: 1px solid #6d6d6d"
      fxHide.gt-md="true"
      fxFlex="100%"
    ></div>
    <div id="inbox-cont-2" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <div
        class="notification-card"
        [class.separator]="i !== notifications.length - 1"
        *ngFor="let item of notifications; index as i"
      >
        <div class="endorsements" *ngIf="item.type === 'endorsement'">
          <label class="noti-title">
            You have recieved a request to accept an endorsement. Would you like
            to view and accept?
          </label>
          <button mat-flat-button class="btn-view">View</button>
        </div>
        <div class="chats" *ngIf="item.type === 'chat'">
          <label class="noti-title">
            You have recieved a chat from {{ item.from }}.
          </label>
          <label class="chat-topic"> Topic : {{ item.topic }}. </label>
          <div class="reply-input-group">
            <input type="text" placeholder="REPLY" />
          </div>
          <button mat-flat-button class="btn-view">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
