<div id="inbox-outer-div">
  <div id="inbox-wrapper" fxShow.lt-lg="false">
    <div id="inbox-cont-1" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <div class="header-cont">
        <img src="../../../assets/images/admin-endorsment.png" />
        <label>Pending Endorsments</label>
      </div>
      <div class="inbox-separator"></div>
      <mat-list class="inbox-list">
        <mat-list-item
          class="inbox-list-item hover-item"
          *ngFor="let item of pendingEndorsments; index as i"
          matRipple
          (click)="clicked(item)"
        >
          <div class="endorse-list">
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Name</label
              ><label fxFlex="50%"
                ><strong>{{ item.Name }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Email</label
              ><label fxFlex="50%"
                ><strong>{{ item.Email }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Contact</label
              ><label fxFlex="50%"
                ><strong>{{ item.Contact }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Public Key</label
              ><label fxFlex="50%"
                ><strong>{{
                  item.PublicKey.substring(0, 6) +
                    "..." +
                    item.PublicKey.substring(
                      item.PublicKey.length - 4,
                      item.PublicKey.length
                    )
                }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Blockchain</label
              ><label fxFlex="50%"
                ><strong>{{ item.Blockchain }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Description</label
              ><label fxFlex="50%"
                ><strong>{{ item.Description }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Status</label
              ><label fxFlex="50%"
                ><span class="status"
                  ><strong>{{ item.Status }}</strong></span
                ></label
              >
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div
      style="border-bottom: 1px solid #6d6d6d"
      fxHide.gt-md="true"
      fxFlex="100%"
    ></div>
    <div id="inbox-cont-2" fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.lt-lg="100%">
      <div class="header-cont">
        <img src="../../../assets/images/amdin-user-faq.png" /><label
          >Pending User FAQ</label
        >
      </div>
      <div class="inbox-separator"></div>
      <mat-list class="inbox-list">
        <mat-list-item
          class="inbox-list-item"
          *ngFor="let item of notifications; index as i"
          matRipple
        >
          <div class="endorse-list">
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="40%">Question from</label
              ><label fxFlex="40%"
                ><strong>{{ item.usermail }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="40%">Category</label
              ><label fxFlex="40%"
                ><strong>{{ item.category }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="40%">Topic</label
              ><label fxFlex="40%"
                ><strong>{{ item.subject }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="40%">Description</label
              ><label fxFlex="40%"
                ><strong>{{ item.desc }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="80%">
                <button
                  mat-flat-button
                  class="btn-view"
                  (click)="sendFAQData(item)"
                >
                  Reply
                </button>
              </div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <!--for mobile screens-->
  <div id="inbox-tabs-wrapper" fxHide.gt-md="true">
    <div class="tabs-header">
      <div
        class="tab"
        [class.active-tab]="tabIndex === 0"
        (click)="changeTab(0)"
        matRipple
      >
        <img src="../../../assets/images/admin-endorsment.png" />
        <label>Pending Endorsments</label>
      </div>
      <div
        class="tab"
        [class.active-tab]="tabIndex === 1"
        (click)="changeTab(1)"
        matRipple
      >
        <img src="../../../assets/images/amdin-user-faq.png" /><label
          >Pending User FAQ</label
        >
      </div>
    </div>
    <div class="tab-content" *ngIf="tabIndex === 0">
      <mat-list class="inbox-list">
        <mat-list-item
          class="inbox-list-item hover-item"
          *ngFor="let item of pendingEndorsments; index as i"
          matRipple
          (click)="clicked(item)"
        >
          <div class="endorse-list">
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Name</label
              ><label fxFlex="50%"
                ><strong>{{ item.Name }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Email</label
              ><label fxFlex="50%"
                ><strong>{{ item.Email }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Contact</label
              ><label fxFlex="50%"
                ><strong>{{ item.Contact }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Public Key</label
              ><label fxFlex="50%"
                ><strong>{{
                  item.PublicKey.substring(0, 6) +
                    "..." +
                    item.PublicKey.substring(
                      item.PublicKey.length - 4,
                      item.PublicKey.length
                    )
                }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Blockchain</label
              ><label fxFlex="50%"
                ><strong>{{ item.Blockchain }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Description</label
              ><label fxFlex="50%"
                ><strong>{{ item.Description }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Status</label
              ><label fxFlex="50%"
                ><span class="status"
                  ><strong>{{ item.Status }}</strong></span
                ></label
              >
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="tab-content" *ngIf="tabIndex === 1">
      <mat-list class="inbox-list">
        <mat-list-item
          class="inbox-list-item"
          *ngFor="let item of notifications; index as i"
          matRipple
        >
          <div class="endorse-list">
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Question from</label
              ><label fxFlex="50%"
                ><strong>{{ item.usermail }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Category</label
              ><label fxFlex="50%"
                ><strong>{{ item.category }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Topic</label
              ><label fxFlex="50%"
                ><strong>{{ item.subject }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <label fxFlex="50%">Description</label
              ><label fxFlex="50%"
                ><strong>{{ item.desc }}</strong></label
              >
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-flat-button
                class="btn-view"
                (click)="sendFAQData(item)"
              >
                Reply
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
