.container {
  width: 100%;
  margin-top: 65px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #fff;
}

.contact-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.contact-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 7px;
  width: 620px;
  max-width: 90%;
}

.required {
  color: rgba(215, 85, 85, 1);
}

.input {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
  transition: none !important;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}
/* default and hover color */
::ng-deep
  .mat-form-field-appearance-outline.example-chip-list
  .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  min-height: 100px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.example-chip-list.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  min-height: 100px;
}

/* default and hover color */
::ng-deep
  .mat-form-field-appearance-outline.description
  .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 160px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.description.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 160px;
}

.textarea {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #848484;
}

.select-bc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  position: absolute;
  top: 0;
  color: #fff !important;
  font-size: 18px;
}

::ng-deep .mat-select-arrow {
  margin-top: 10px !important;
  vertical-align: middle !important;
  color: #fff !important;
}

.collection-dropdown {
  color: #fff;
  font-size: 18px;
}

.collection-dropdown-selected {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-form-group textarea {
  height: 120px;
  resize: none;
}

.contact-form {
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  row-gap: 50px;
}

::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -7px !important;
  color: #848484 !important;
  transition: none !important;
}
/* ::ng-deep mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color: transparent !important;
} */

::ng-deep .mat-select-panel {
  background-color: #2d2d2d !important;
  color: transparent !important;
  font-size: 16px !important;
  height: fit-content !important;
}

::ng-deep .mat-select-placeholder {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-left: 10px;
  margin-right: 10px;
  color: #848484 !important;
}

mat-form-field{
  margin-bottom: -1.25em;
}

.file-dnd-area {
  cursor: pointer;
  width: 614px;
  max-width: calc(100% - 6px);
  height: 60px;
  border: 3px dashed #10ceac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-dnd-area label {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #10ceac;
}



.btn-submit {
  width: 146px;
  height: 35px;
  background: #10ceac;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;

  color: #000000;
}

.back {
  transform: scale(1.6);
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.contact-us-header {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-us-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  row-gap: 50px;
}

.contact-us-content .content-1 {
  width: calc(50% - 1px);
  border-right: 1px solid #6b6b6b;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145.02%;
  /* or 29px */

  color: #ffffff;
}

.content-1-wrapper {
  width: 614px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us-content .content-2 {
  width: calc(50% - 1px);
}

.map-wrapper {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
}

.map-tabs {
  display: flex;
  flex-direction: row;
}

.map-tab-header {
  cursor: pointer;
  width: 100%;
  padding: 10px 0px 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 131.02%;
  /* or 26px */

  color: #ffffff;
}

.selected-tab {
  background-color: #10ceac;
  color: #2d2d2d;
}

.map-tab {
  display: flex;
  flex-direction: column;
}

.map {
  height: 530px;
  width: 100%;
}

.file-name-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.file-name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #10ceac;
  max-width: 90%;
  word-break: break-all;

  text-overflow: ellipsis;
}

.delete-icon {
  cursor: pointer;
  margin-top: 5px;
  transform: scale(0.9);
  color: rgba(215, 85, 85, 1);
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: transparent !important;
  opacity: 0.8 !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: rgba(16, 206, 172, 1) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 16px 0px 0px 16px !important;
  width: 16px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px 16px 16px 0px !important;
  width: 16px !important;
}

.contact-form-title {
  margin-bottom: 10px;
}

::ng-deep .dropdown-panel-class {
  margin-top: 40px !important;
}

@media screen and (max-width: 959px) {
  .contact-us-content .content-1 {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #6b6b6b;
    padding-bottom: 50px;
  }
  .contact-us-content .content-2 {
    width: 100%;
  }
  .content-1-wrapper {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .contact-form {
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 50px;
  }
}
