<div class="explore-parent">
  <div class="explore-container">
    <div class="explore-header cont-wrapper">
      <mat-icon class="back" (click)="back()" matTooltip="Back"
        >arrow_back</mat-icon
      >
      <label class="explore-heading">Explore NFT Collections</label>
    </div>
    <div class="filters cont-wrapper">
      <label class="sub-heading"
        >Discover unique NFT collections with embedded traceability data</label
      >
    </div>

    <div class="explore-content cont-wrapper" fxLayout="row wrap">
      <div class="cont-inner" *ngIf="!loading && collections.length > 0">
        <div *ngFor="let collection of collections; index as i">
          <app-collection-card
            *ngIf="i !== collections.length - 1"
            [data]="collection"
          ></app-collection-card>

          <app-collection-card
            #theLastItem
            *ngIf="i === collections.length - 1"
            [data]="collection"
          ></app-collection-card>
        </div>
      </div>

      <div class="cont-inner" *ngIf="loading || nextPageLoading">
        <app-nft-card-skeleton
          *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]"
        ></app-nft-card-skeleton>
      </div>

      <div
        class="explore-no-content"
        *ngIf="!loading && !nextPageLoading && collections.length === 0"
      >
        <img src="../../../assets/images/no-nfts.svg" />
        <label>No Collections Found</label>
      </div>
    </div>
  </div>
</div>
