<div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
<div class="dialog-header">
  <label mat-dialog-title>Disclaimer</label>
</div>
<mat-dialog-content>
  <div class="dialog-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Et ligula ullamcorper malesuada proin libero nunc. Metus dictum at
    tempor commodo ullamcorper a. Laoreet non curabitur gravida arcu. Ipsum dolor sit amet consectetur
    adipiscing. A diam sollicitudin tempor id. Euismod in pellentesque massa placerat duis ultricies.
    Libero justo laoreet sit amet cursus sit amet dictum sit. Rhoncus mattis rhoncus urna neque.
    Ut morbi tincidunt augue interdum velit euismod in. Purus ut faucibus pulvinar elementum
    integer enim neque volutpat ac. Risus pretium quam vulputate dignissim.
    Tincidunt eget nullam non nisi est. Ultricies tristique nulla aliquet enim tortor at.
    Fermentum leo vel orci porta non pulvinar. Mi in nulla posuere sollicitudin aliquam ultrices.
    Nulla malesuada pellentesque elit eget gravida. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing.
    Enim eu turpis egestas pretium aenean pharetra magna. Malesuada fames ac turpis egestas. Semper
    eget duis at tellus at urna condimentum mattis. Congue nisi vitae suscipit tellus mauris a diam maecenas.
    Quam quisque id diam vel quam elementum pulvinar etiam non.
    Auctor urna nunc id cursus metus. Vitae semper quis lectus nulla at volutpat.
    Eget felis eget nunc lobortis mattis. Arcu risus quis varius quam quisque id diam.
    Enim sed faucibus turpis in eu mi bibendum neque. Hac habitasse platea dictumst vestibulum rhoncus.
    Senectus et netus et malesuada fames ac turpis egestas. Senectus et netus et malesuada fames.
    Quisque non tellus orci ac. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac.
    Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Sem integer vitae justo eget magna fermentum iaculis.
    Et malesuada fames ac turpis egestas sed tempus urna et. Euismod in pellentesque massa placerat.
    Volutpat consequat mauris nunc congue nisi. Condimentum id venenatis a condimentum vitae sapien.
    Tortor condimentum lacinia quis vel eros donec ac. Quisque egestas diam in arcu cursus euismod.
    Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Nunc sed blandit libero volutpat sed cras ornare arcu.
    Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Elementum nibh tellus molestie nunc non blandit massa enim.
    Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Curabitur gravida arcu ac tortor dignissim convallis aenean.
    Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Diam donec adipiscing tristique risus nec feugiat in fermentum.
    Dolor purus non enim praesent elementum facilisis.
    Orci nulla pellentesque dignissim enim sit.
    Sodales ut etiam sit amet. Cursus turpis massa tincidunt dui ut ornare lectus sit amet.
    Id aliquet lectus proin nibh. Nisl purus in mollis nunc. Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel.
    Dictumst quisque sagittis purus sit amet volutpat consequat. Nunc sed velit dignissim sodales ut.
    Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Viverra vitae congue eu consequat.
    Eu facilisis sed odio morbi quis commodo odio aenean sed. Bibendum at varius vel pharetra vel turpis nunc eget lorem.
    Eget velit aliquet sagittis id consectetur purus ut faucibus. Ut sem viverra aliquet eget sit amet tellus.
    Egestas congue quisque egestas diam in arcu cursus. Ipsum dolor sit amet consectetur adipiscing elit duis tristique.
    Tristique nulla aliquet enim tortor. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Sed libero enim
    sed faucibus turpis in eu mi.
  </div>

</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
  <div class="checkbox-group">
    <input type="checkbox" (change)="onCheckedChange($event)">
    <label>Lorem ipsum dolor sit amet</label>
  </div>
  <div class="dialog-actions-buttons">
    <button
      cdkFocusInitial
      class="dialog-btn-primary"
      matRipple
      [disabled]="!acceptEnabled"
    >
      Accept
    </button>
    <button
      mat-dialog-close
      class="dialog-btn-secondary"
      matRipple
    >
      Decline
    </button>
  </div>

</mat-dialog-actions>
