<div class="main-div">
  <div class="cont-wrapper back-icon-wrapper">
    <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
      >arrow_back</mat-icon
    >
  </div>
  <div class="cont-wrapper">
    <mat-stepper
      #stepper
      linear
      [selectedIndex]="selectedIndex"
      [@.disabled]="true"
    >
      <ng-template matStepperIcon="edit" let-index="index"
        >{{ index + 1 }}
      </ng-template>
      <mat-step>
        <app-mint (proceed)="changeTab($event, 1)"></app-mint
      ></mat-step>
      <mat-step
        ><app-mint2
          (proceed)="changeTab($event, 2)"
          [wallet]="wallet"
          [email]="email"
          [key]="key"
        ></app-mint2>
      </mat-step>
      <mat-step> <app-mint3 [blockchain]="blockchain"> </app-mint3></mat-step>
    </mat-stepper>
  </div>
</div>
