.main-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-top: 0px;
  margin-bottom: 60px;
  color: white;
}

.mint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-stepper {
  background-color: transparent !important;
  width: 100%;
}

#stepper {
  width: 100%;
}

.mat-step-header {
}

.mat-step-label {
  width: 0px !important;
  margin: -30px !important;
}

.mat-step-header .mat-step-icon {
  background: transparent;
  border: 3px solid #ffffff;
  color: #fff;
  transform: scale(1.5);
}

.mat-step-header .mat-step-icon-selected {
  background: #80cca3;
  border: 3px solid #ffffff;
  transform: scale(1.5);
}

.mat-step-header .mat-step-icon-state-done {
  color: #fff;
  background: #80cca3;
  border: 3px solid #ffffff;
  transform: scale(1.5);
}
.mat-step-header .mat-step-icon-state-edit {
  background: #80cca3;
  border: 3px solid #ffffff;
  transform: scale(1.5);
}

.mat-stepper-horizontal-line {
  border-top: 3px solid #fff !important;
  max-width: 100px !important;
}

.mat-horizontal-stepper-container {
  justify-content: center;
}

.mat-horizontal-stepper-header-container {
  justify-content: center;
  margin-bottom: 0px;
}

.mat-step-header {
  pointer-events: none !important;
}

.back-icon-wrapper {
  position: relative;
}

.back-icon {
  transform: scale(1.6);
  vertical-align: middle;
  position: absolute;
  top: 18px;
  left: 0%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .back-icon {
    transform: scale(1.6);
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 5%;
    top: 0px;
    cursor: pointer;
  }

  mat-stepper {
    margin-top: 30px;
  }
}
