.container {
  width: 100%;
  margin-top: 65px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #fff;
}

.contact-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.contact-form-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  width: 620px;
  background: #2d2d2d;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
}

.contact-form-group input[type="text"] {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  height: 38px;
  width: 80%;
}

.contact-form-group input[type="text"]:focus {
  outline: none;
}

.search-icon {
  vertical-align: middle;
  color: #686868;
}


.required {
  color: rgba(215, 85, 85, 1);
}

.input {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: #848484;
}

.help-form {
  margin-top: 80px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 40px;
}

.btn-search {
  background: #10ceac;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000000;
  vertical-align: middle;
}

.back {
  transform: scale(1.6);
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.help-header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 35px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.highlighted-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #10ceac;
}

.btn-large {
  background: #10ceac;
  width: 261px;
  height: 60px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.contact-us-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 30px;
  margin-bottom: 60px;
}

.normal-text {
  text-align: center;
  line-height: 19px;
}

.nft-view-header {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-size: 16px;
  width: 100%;
}

.breadcrumb-div {
  display: flex;
  flex-direction: row;
}

.breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.cont-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 959px) {
  .btn-search {
    font-size: 16px;
  }
}

@media screen and (max-width: 449px) {
  .btn-search {
    font-size: 12px;
  }

  .contact-form-group input[type="text"] {
    width: 65%;
  }
}


