.faq-parent {
  /* position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0; */
  margin-top: 65px;
  border-top: 1px solid #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px 0px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-content-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
}

.separator {
  width: 100%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.nft-view-header {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}

.breadcrumb-div {
  display: flex;
  flex-direction: row;
}

.breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.faq-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.mat-expansion-panel-header {
  min-height: 40px !important;
  height: fit-content !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.mat-expansion-panel-header-title {
  color: #80cca3;
  font-weight: 400;
  font-size: medium;
  word-break: break-all;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 1 1;
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background: #2d2d2d !important;
  height: 50px !important;
}

.panel {
  color: #fff;
  margin-bottom: 35px;
  background: transparent;
  box-shadow: none;
  width: 90%;
}
.panel-header {
  background: #2d2d2d;
  border-radius: 10px;
  height: 50px !important;
}

.panel-header:hover {
  background: #2d2d2d !important;
}

.answer {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
  color: #ffffff;
}

.answer-title {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;

  color: #ffffff;
}

.faq-content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  row-gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.faq-footer-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #80cca3;
}

.btn-contact {
  margin-top: 10px;
  background: #80cca3;
  border-radius: 20px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  color: #000000;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .ans-content p {
  line-height: 28.72px;
}

::ng-deep .ans-content a {
  color: #00c820;
  text-decoration: none;
}

::ng-deep .ans-content a:hover {
  text-decoration: underline;
}
