<div class="main-div" fxLayout="row wrap">
    <div class="nft-view-header" fxFlex="100%">
      <div
        style="
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div class="breadcrumb-div">
          <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
          <mat-icon
            class="material-symbols-outlined"
            style="vertical-align: middle"
          >
            navigate_next
          </mat-icon>
          <a [routerLink]="'/sell'" class="breadcrumb-link">Sell NFT</a>
          <mat-icon
            class="material-symbols-outlined"
            style="vertical-align: middle"
          >
            navigate_next
          </mat-icon>
          <a style="color: #00c853">TOMATOE - T0001</a>
        </div>
        <div>
          <h1 style="font-size: 40px" fxHide.lt-md="true">Sell NFT</h1>
        </div>
      </div>
    </div>
    <div class="nft-div" fxFlex="100%" fxLayout="row wrap">
      <div
        class="nft-img-div"
        fxFlex.lg="25%"
        fxFlex.xl="20%"
        fxFlex.md="30%"
        fxFlex.sm="80%"
        fxFlex.xs="80%"
      >
        <img [src]="imageSrc" *ngIf="imageSrc" class="b-nft-img" />
        <div class="nft-name"><label>{{data.NftContentName}}</label></div>
      </div>
      <div
        fxFlex.lg="55%"
        fxFlex.xl="60%"
        fxFlex.md="50%"
        fxFlex.sm="80%"
        fxFlex.xs="80%"
      >
        <div class="nft-details">
          <div class="navbar" fxLayout="row wrap">
            <button class="viewnftnavbtn" mat-button [routerLink]="'/getNft'">
              Overview
            </button>
            <button
              class="viewnftnavbtn"
              mat-button
              [routerLink]="'/create-account'"
            >
              User Story
            </button>
            <button
              class="viewnftnavbtn"
              mat-button
              [routerLink]="'/create-account'"
            >
              Endorsement
            </button>
            <button
              class="viewnftnavbtn viewnftnavbtn-active"
              mat-button
              [routerLink]="'/sell'"
            >
              Sell
            </button>
          </div>
          <div class="nft-details-cont">
            <form class="example-form" [formGroup]="controlGroupSell">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput formControlName="Price" />
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Royalty</mat-label>
                <input matInput formControlName="Royalty" />
              </mat-form-field>
            </form>
            <div style="width: 90%">
              <label class="info-title"
                ><strong>CREATOR - </strong>{{ data.currentownerpk }}
              </label>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 90%;
              "
            >
              <button mat-flat-button class="btn-buy" (click)="Sell()">
                Sell Now
              </button>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px">
          <button
            mat-flat-button
            style="
              background: #625353;
              border-radius: 10px;
              color: white;
              margin-bottom: 10px;
            "
          >
            Browse Transaction History
          </button>
          <br />
          <a href="#" class="link" style="color: white">View On Stellar.Expert</a>
        </div>
      </div>
    </div>
  </div>
  