.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
}

.code-behind-btn {
  position: absolute;
  right: 65px;
  bottom: 65px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.example-full-width {
  height: 250%;
  width: 600px;
  margin-top: 1%;
}

.example-form {
  width: 90%;
}

.example-card {
  width: 700px;
  height: 300px;
  background: transparent;
  color: white;
  border: 3px solid #10ceac;
  border-radius: 20px;
  margin-left: 370px;
}

.mint {
  margin-left: 12%;
  margin-top: 15%;
}

.example-full-width {
  width: 100%;
}

.svgArea {
  /* Rectangle 481 */
  box-sizing: border-box;
  position: absolute;
  width: 431px;
  height: 428.7px;
  left: calc(40% - 431px / 3 - 424.5px);
  top: 0px;
}
.svgimg {
  border: 3px solid #feffff;
  border-radius: 20px;
  background: white;
  color: white;
  margin-top: 180px;
  margin-left: 12%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background: #ffffff;
  border-radius: 20px;
  color: black;

  /* width: 803.25px; */
  min-height: 65px;
  margin-top: -4px;
  width: 100.75%;
  margin-left: -3px;
}

.viewnftnavbtn {
  font-size: 18px;
  font-weight: 400px;

  width: 170px;
  height: 35px;
}

.viewnftnavbtn:hover {
  background: #10ceac;
  border-radius: 20px;
  transition: 0.5s;
}

.viewnftnavbtn-active {
  background: #10ceac;
  border-radius: 20px;
}

.nft-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 45px;
  row-gap: 50px;
  /* height: calc(100vh - 280px); */
}

.b-nft-img {
  width: 80%;
  height: 305px;
  margin-top: 40px;
}

.nft-img-div {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 381px;
  border: 3px solid white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nft-details {
  display: flex;
  flex-direction: column;

  min-height: 425px;
  border: 3px solid #10ceac;
  border-radius: 20px;
}

.nft-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.btn-buy {
  background: #10ceac;
  color: black;
  font-size: medium;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
}

.help-icon {
  filter: brightness(100%) saturate(0);
  transform: scale(0.5);
}

.link {
  color: #10ceac;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}

.nft-view-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1250px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumb-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
  width: 350px;
}

.breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nft-sum {
  border-right: 1px solid #6b6b6b;
}

.nft-sum-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-right: none;
}

.nft-sum p {
  margin-top: 43px;
  width: 90%;
}

.nft-sell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  /* background-color: #5a5c5b3a; */
}

.blockchain-logo {
  width: 30px;
  height: 30px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #777777;
}

.stats mat-icon {
  margin-right: 8px;
}

.btn-sell {
  width: 153px;
  height: 44px;
}

.nft-cat {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.nft-cat span {
  font-weight: 700;
}

.nft-det {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nft-det-wrapper {
  margin-top: 20px;
  padding-bottom: 29px;
  border-bottom: 1px solid #6b6b6b;
  row-gap: 10px;
}

.owners {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.prev-o {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  line-height: 32px;
  /* or 178% */

  color: #ffffff;
}

.curr-o {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  line-height: 32px;
  /* or 178% */

  color: #10ceac;
}

.owner-l {
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  word-break: break-all;
}

.owner-s {
  font-weight: 700;
  font-size: 18px;
}

.user-story {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.desc {
  display: flex;
  flex-direction: row;
  background: #2d2d2d;
  border-radius: 10px;
  overflow-y: auto;
  height: fit-content;
}

.u-s-text {
  margin: 27px;
  word-wrap: break-word;
}

.heading-s {
  margin-top: 45px;
  margin-bottom: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 143.52%;
  /* identical to box height, or 26px */

  text-transform: capitalize;

  color: #ffffff;
}

.txn-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  text-align: center;
  vertical-align: middle;
}

.txn-table thead {
  background-color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143.52%;

  color: #060b08;
}

.txn-table thead tr:first-child th:first-child {
  border-radius: 10px 0px 0px 10px;
}

.txn-table thead tr:first-child th:last-child {
  border-radius: 0px 10px 10px 0px;
}

.txn-table tbody tr:first-child td:first-child {
  border-radius: 10px 0px 0px 0px;
}

.txn-table tbody tr:first-child td:last-child {
  border-radius: 0px 10px 0px 0px;
}

.txn-table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 10px;
}

.txn-table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}

.txn-table th,
td {
  border: 1px solid #0e0e0e;
  padding: 8px;
}

.txn-table thead tr th {
  border-top: none;
  border-bottom: none;
}

.txn-table thead tr th:first-child {
  border-left: none;
}

.txn-table thead tr th:last-child {
  border-right: none;
}

.txn-table tbody tr td:first-child {
  border-left: none;
}

.txn-table tbody tr td:last-child {
  border-right: none;
}

.txn-table tbody tr:first-child td {
  border-top: none;
}

.txn-table tbody tr:last-child td {
  border-bottom: none;
}

.txn-table td {
  background-color: #2d2d2d;
}
::ng-deep .mat-tab-header {
  display: none !important;
}

.btn-prev mat-icon {
  transform: scale(1.8);
}

.sell-form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.sell-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

.sell-input-grp {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 50%;
}

.sell-input-grp label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.sell-cont {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.txn-cont {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.table-wrapper {
  overflow-x: auto;
}

.hidden {
  display: none;
}

.nft-img {
  margin: 30px;
  /* max-width: 300px;
  max-height: 300px; */
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.sum-text {
  word-wrap: break-word;
}

.txn-link {
  color: #fff;
  text-decoration: none;
}

.btn-story {
  width: fit-content;
  padding: 5px 20px 5px 20px;
}

.user-story-iframe {
  border: none;
  width: 100%;
  margin: 20px;
  height: fit-content;
  min-height: 150px;
  max-height: 300px;
  overflow: auto;
}
