<div class="main-div" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="nft-view-header" fxFlex="100%" fxLayout="row wrap">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
      fxLayout="row wrap"
      class="cont-wrapper"
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>

        <a style="color: #00c853">{{ this.NFTList.nftname }}</a>
      </div>
    </div>
  </div>
  <div class="nft-div cont-wrapper" fxLayout="row wrap" *ngIf="!isLoading">
    <div
      class="nft-sum"
      ngClass.lt-lg="nft-sum-mobile"
      fxFlex.lg="35%"
      fxFlex.gt-lg="35%"
      fxFlex.lt-lg="100%"
    >
      <div
        class="nft-img-div"
        ngStyle.lt-lg="width : 400px; height: 400px"
        ngStyle.lt-sm="width : 100%; "
      >
        <embed [src]="imageSrc" *ngIf="imageSrc" class="nft-img" />
        <button mat-icon-button class="code-behind-btn" (click)="openDialog()">
          <img
            src="../../../assets/icons/code-icon.png"
            style="flex-basis: 40%"
          />
        </button>
      </div>
      <div
        class="prev-o"
        style="align-self: flex-start; max-width: 100%"
        ngStyle.gt-md="max-width: 90%"
      >
        <label class="owner-s">Creator Name</label>
        <label class="owner-l">
          {{ this.NFTList.artistname }} 
          <a
          *ngIf = "usercontentURLFlag"
          href="{{ userprofileURL }}"
          target="_blank"
          class="txn-link"
          ><img
            style="margin-left:5px"
            src="https://tracified-platform-images.s3.ap-south-1.amazonaws.com/NFT_Market/external-link.png"
        /></a>
        </label>
      </div>
      <div
        class="prev-o"
        style="margin-top: 30px; align-self: flex-start; max-width: 100%"
        ngStyle.gt-md="max-width: 90%"
      >
        <label class="owner-s">Description</label>
        <label class="p-text sum-text" ngStyle.lt-lg="width : 100%">
          {{ this.NFTList.description }}
        </label>
      </div>
      <div
        class="prev-o"
        style="margin-top: 30px; align-self: flex-start; max-width: 100%"
        ngStyle.gt-md="max-width: 90%"
      >
        <label class="owner-s">Tags</label>
        <label class="p-text sum-text" ngStyle.lt-lg="width : 100%">
          <div class="nfttagchips" *ngFor="let item of this.NFTList.tags">{{item}}</div>
        </label>
      </div>
    </div>
    <div
      class="nft-sell"
      fxFlex.lg="61%"
      fxFlex.gt-lg="61%"
      fxFlex.lt-lg="100%"
    >
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img src="{{ this.image }}" class="blockchain-logo" />
        <div class="stats" [class.hidden]="selectedTab === 1">
          <mat-icon class="material-symbols-outlined"> visibility </mat-icon>
          <label style="margin-right: 30px">{{ this.watchlist }} views</label>
          <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
          <label>{{ this.favorites }} favorites</label>
        </div>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between "
        class="nft-det-wrapper"
      >
        <div class="nft-det">
          <label class="nft-name">{{ this.NFTList.nftname }}
            <a
            *ngIf = "usercontentURLFlag"
            href="{{nftContentURL}}"
            target="_blank"
            class="txn-link"
            ><img
              style="margin-left:5px"
              src="https://tracified-platform-images.s3.ap-south-1.amazonaws.com/NFT_Market/external-link.png"
          /></a>
          </label>
          <label class="nft-cat"
            ><b>Category - </b>{{ this.NFTList.categories }}</label
          >
        </div>
        <button
          mat-flat-button
          class="btn-primary btn-sell"
          (click)="sellNow()"
          [class.hidden]="selectedTab === 1"
        >
          Sell Now
        </button>
      </div>
      <mat-tab-group class="sell-view-tabs" [selectedIndex]="selectedTab">
        <mat-tab>
          <div class="sell-cont">
            <div class="owners">
              <div class="prev-o">
                <label class="owner-s">Previous Owner</label>
                <label class="owner-l">{{ this.prevOwner }}</label>
              </div>
              <div class="curr-o">
                <label class="owner-s">Current Owner</label>
                <label class="owner-l">{{ this.NFTList.currentownerpk }}</label>
              </div>
              <div class="prev-o">
                <label class="owner-s">Issuer</label>
                <label class="owner-l">{{ this.NFTList.nftissuerpk }}</label>
              </div>
            </div>

            <div class="user-story" *ngIf="!loaded">
              <label class="heading-s">NFT Story</label>
              <div class="desc">
                <iframe
                  id="iframe"
                  class="user-story-iframe"
                  #iframe
                  [hidden]="loaded && storyAvailable"
                ></iframe>
                <div class="no-story-div" *ngIf="!storyAvailable">
                  <label>No Story Available.</label>
                  <button
                    class="btn-primary btn-story"
                    mat-button
                    *ngIf="html == null"
                    (click)="createStory()"
                  >
                    Create NFT Story
                  </button>
                </div>
              </div>
            </div>
            <div class="txn-cont">
              <label class="heading-s">Transaction History</label>
              <div class="table-wrapper">
                <table class="txn-table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>View On Explorer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of List">
                      <td width="25%">
                        {{ item.Time }}
                      </td>
                      <td width="25%">
                        {{ item.NFTName }}
                      </td>
                      <td width="25%">{{ item.Status }}</td>
                      <td width="25%">
                        <mat-icon class="material-symbols-outlined cursor-p">
                          <a
                            href="{{ item.NFTTxnHash }}"
                            target="_blank"
                            class="txn-link"
                            ><img
                              src="https://tracified-platform-images.s3.ap-south-1.amazonaws.com/NFT_Market/external-link.png"
                          /></a>
                        </mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <div style="margin-top: 27px; margin-bottom: 30px">
            <button mat-icon-button (click)="prevTab()" class="btn-prev">
              <mat-icon class="material-symbols-outlined">
                keyboard_backspace
              </mat-icon>
            </button>
          </div>
          <div>
            <form
              class="sell-form"
              [formGroup]="controlGroupSell"
              #sellForm="ngForm"
            >
              <label class="sell-label"
                >Enter price and royalty information to proceed.</label
              >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  column-gap: 10px;
                  max-width: 90%;
                  flex-wrap: wrap;
                  row-gap: 20px;
                "
              >
                <div
                  class="sell-input-grp"
                  ngStyle.lt-sm="width : 100%"
                  ngStyle.sm="width : 20%"
                  ngStyle.md="width : 20%"
                  ngStyle.lg="width : 20%"
                  ngStyle.xl="width : 20%"
                  ngStyle.gt-xl="width : 10%"
                >
                  <label>Price</label>
                  <div class="input-field-wrapper sell-view-input-wrapper">
                    <label class="prefix">{{ this.currency }}</label>
                    <input
                      type="text"
                      class="input"
                      matInput
                      name="Price"
                      formControlName="Price"
                      (input)="convertToUSD($event, 'selling')"
                    />
                    <span
                      [class.invalid-border]="
                        (controlGroupSell.get('Price')!.touched ||
                          sellForm.submitted) &&
                        controlGroupSell.get('Price')?.errors
                      "
                    ></span>
                  </div>
                </div>
                <label class="usd-label" ngStyle.lt-sm="margin-top: -20px"
                  >${{ sellingPriceUSD.toFixed(2) }}</label
                >
                <div
                  class="sell-input-grp"
                  ngStyle.lt-sm="width : 100%"
                  ngStyle.sm="width : 20%"
                  ngStyle.md="width : 20%"
                  ngStyle.lg="width : 20%"
                  ngStyle.xl="width : 20%"
                  ngStyle.gt-xl="width : 10%"
                >
                  <label>Royalty</label>
                  <div class="input-field-wrapper sell-view-input-wrapper">
                    <input
                      type="text"
                      class="input"
                      matInput
                      name="Royalty"
                      formControlName="Royalty"
                      min="0"
                      max="100"
                      placeholder="{{ this.Royalty }}"
                      [readonly]="this.value"
                      (input)="convertToUSD($event, 'royalty')"
                    />
                    <span
                      [class.invalid-border]="
                        (controlGroupSell.get('Royalty')!.touched ||
                          sellForm.submitted) &&
                        controlGroupSell.get('Royalty')?.errors
                      "
                    ></span>
                    <label class="prefix">%</label>
                  </div>
                </div>
                <label class="usd-label" ngStyle.lt-sm="margin-top: -20px"
                  >${{ royaltyPriceUSD.toFixed(2) }}</label
                >
              </div>

              <button
                mat-flat-button
                class="btn-primary btn-sell"
                (click)="Sell()"
              >
                Sell Now
              </button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
