<div class="main-div" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="nft-view-header" fxFlex="100%" fxLayout="row wrap">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
      fxLayout="row wrap"
      fxFlex.gt-xl="50%"
      fxFlex.xl="70%"
      fxFlex.xs="90%"
      fxFlex.sm="90%"
      fxFlex.md="90%"
      fxFlex.lg="90%"
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>

        <a style="color: #00c853">{{this.NFTList.nftname}}</a>
      </div>
    </div>
  </div>
  <div
    class="nft-div"
    fxLayout="row wrap"
    fxFlex.gt-xl="50%"
    fxFlex.xl="70%"
    fxFlex.xs="90%"
    fxFlex.sm="90%"
    fxFlex.md="90%"
    fxFlex.lg="90%"
  >
    <div
      class="nft-sum"
      ngClass.lt-lg="nft-sum-mobile"
      fxFlex.lg="35%"
      fxFlex.gt-lg="35%"
      fxFlex.lt-lg="100%"
    >
      <div
        class="nft-img-div"
        ngStyle.lt-lg="width : 400px; height: 400px"
        ngStyle.lt-sm="width : 100%; "
      >
        <img [src]="imageSrc" *ngIf="imageSrc" class="nft-img" />
      </div>
      <p class="p-text sum-text" ngStyle.lt-lg="width : 100%">
       {{this.NFTList.description}}
      </p>
    </div>
    <div
      class="nft-sell"
      fxFlex.lg="61%"
      fxFlex.gt-lg="61%"
      fxFlex.lt-lg="100%"
    >
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img
          src={{this.image}}
          class="blockchain-logo"
        />
        <div class="stats" [class.hidden]="selectedTab === 1">
          <mat-icon class="material-symbols-outlined"> visibility </mat-icon>
          <label style="margin-right: 30px">{{this.watchlist}} views</label>
          <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
          <label>{{this.favorites}} favorites</label>
          <button mat-icon-button class="code-behind-btn" (click)="openDialog()">
            <img src="../../../assets/icons/code-icon.png" style="flex-basis: 40%" />
          </button>
        </div>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between "
        class="nft-det-wrapper"
      >
        <div class="nft-det">
          <label class="nft-name">{{this.NFTList.nftname}}</label>
          <label class="nft-cat"><b>Category - </b>{{this.NFTList.categories}}</label>
        </div>
        <button
          mat-flat-button
          class="btn-primary btn-sell"
          (click)="sellNow()"
          [class.hidden]="selectedTab === 1"
        >
          Sell Now
        </button>
      </div>
      <mat-tab-group [selectedIndex]="selectedTab">
        <mat-tab>
          <div class="sell-cont">
            <div class="owners">
              <div class="prev-o">
                <label class="owner-s">Previous Owner</label>
                <label class="owner-l"
                  >{{this.prevOwner}}</label
                >
              </div>
              <div class="curr-o">
                <label class="owner-s">Current Owner</label>
                <label class="owner-l"
                  >{{this.NFTList.currentownerpk}}</label
                >
              </div>
              <div class="curr-o">
                <label class="owner-s">Issuer</label>
                <label class="owner-l"
                  >{{this.NFTList.nftissuerpk}}</label
                >
              </div>
              <div class="curr-o">
                <label class="owner-s">Artist Name</label>
                <label class="owner-l"
                  >{{this.NFTList.artistname}}</label
                >
              </div>
            </div>

            <div class="user-story">
              <button class="viewnftnavbtn" mat-button (click)="createStory()">
                NFT Story
              </button>
              <label class="heading-s">User Story</label>
              <div class="desc">
                <iframe 
                  id="iframe"
                  #iframe
                  width="100%"
                  height="100%"
                  [hidden]="loaded"
                ></iframe>
              </div>
            </div>
            <div class="txn-cont">
              <label class="heading-s">Transaction History</label>
              <div class="table-wrapper">
                <table class="txn-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>View On Explorer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of List">
                      <td width="50%">
                        {{item.NFTName}}
                      </td>
                      <td width="25%">{{item.Status}}</td>
                      <td width="25%">
                        <mat-icon class="material-symbols-outlined cursor-p" >
                         <a href="{{item.NFTTxnHash}}" >open_in_new</a> 
                        </mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <div style="margin-top: 27px; margin-bottom: 30px">
            <button mat-icon-button (click)="prevTab()" class="btn-prev">
              <mat-icon class="material-symbols-outlined">
                keyboard_backspace
              </mat-icon>
            </button>
          </div>
          <div>
            <form class="sell-form" [formGroup]="controlGroupSell">
              <label class="sell-label"
                >Enter price and royalty information to proceed.</label
              >
              <div
                class="sell-input-grp"
                ngStyle.lt-sm="width : 100%"
                ngStyle.sm="width : 50%"
                ngStyle.md="width : 50%"
                ngStyle.lg="width : 50%"
                ngStyle.xl="width : 30%"
                ngStyle.gt-xl="width : 20%"
              >
                <label>Price</label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    class="input"
                    matInput
                    name="Price"
                    formControlName="Price"
                  />
                </mat-form-field>
              </div>
              <div
                class="sell-input-grp"
                ngStyle.lt-sm="width : 100%"
                ngStyle.sm="width : 50%"
                ngStyle.md="width : 50%"
                ngStyle.lg="width : 50%"
                ngStyle.xl="width : 30%"
                ngStyle.gt-xl="width : 20%"
              >
                <label>Royalty</label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    class="input"
                    matInput
                    name="Royalty"
                    formControlName="Royalty"
                  />
                </mat-form-field>
              </div>
              <button
                mat-flat-button
                class="btn-primary btn-sell"
                (click)="Sell()"
              >
                Sell Now
              </button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- 
  <div class="main-div" fxLayout="row wrap">
  <div class="nft-view-header" fxFlex="100%">
    <div
      style="
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      "
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a [routerLink]="'/sell'" class="breadcrumb-link">Sell NFT</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a style="color: #00c853">TOMATOE - T0001</a>
      </div>
      <div>
        <h1 style="font-size: 40px" fxHide.lt-md="true">Sell NFT</h1>
      </div>
    </div>
  </div>
  <div class="nft-div" fxFlex="100%" fxLayout="row wrap">
    <div
      class="nft-img-div"
      fxFlex.lg="25%"
      fxFlex.xl="20%"
      fxFlex.md="30%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <img [src]="imageSrc" *ngIf="imageSrc" class="b-nft-img" />
      <div class="nft-name"><label>{{data.NftContentName}}</label></div>
    </div>
    <div
      fxFlex.lg="55%"
      fxFlex.xl="60%"
      fxFlex.md="50%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <div class="nft-details">
        <div class="navbar" fxLayout="row wrap">
          <button class="viewnftnavbtn" mat-button [routerLink]="'/getNft'">
            Overview
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            User Story
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            Endorsement
          </button>
          <button
            class="viewnftnavbtn viewnftnavbtn-active"
            mat-button
            [routerLink]="'/sell'"
          >
            Sell
          </button>
        </div>
        <div class="nft-details-cont">
          <form class="example-form" [formGroup]="controlGroupSell">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput formControlName="Price" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Royalty</mat-label>
              <input matInput formControlName="Royalty" />
            </mat-form-field>
          </form>
          <div style="width: 90%">
            <label class="info-title"
              ><strong>CREATOR - </strong>{{ data.OriginPK }}
            </label>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin-top: 20px;
              margin-bottom: 20px;
              width: 90%;
            "
          >
            <button mat-flat-button class="btn-buy" (click)="Sell()">
              Sell Now
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px">
        <button mat-flat-button class="btn-create-col" (click)="showInProfile()">
          Done
        </button>
        <br />
        <a href="#" class="link" style="color: white">View On Stellar.Expert</a>
      </div>
    </div>
  </div>
</div>

 -->
