<mat-toolbar id="navbar" class="nav-bar" fxLayout="row">
  <div
    class="nav-content-wrapper cont-wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <button
      style="width: fit-content"
      (click)="goToHome()"
      mat-icon-button
      disableRipple
    >
      <img
        src="../../../../assets/images/Tracified-NFT-Marketplace.png"
        [routerLink]="'/home'"
        style="flex-basis: 40%"
        width="130px"
        ngStyle.xs="width: 100px"
      />
    </button>

    <div
      class="search-input-group"
      fxFlex.lg="50%"
      fxFlex.xl="50%"
      fxHide.md
      fxHide.sm
      fxHide.xs
    >
      <form [formGroup]="controlGroup">
        <input
          type="text"
          placeholder="Search for NFTS on sale by Tags"
          formControlName="Tag"
        />
        <mat-icon class="material-symbols-outlined" (click)="search()"
          >search</mat-icon
        >
      </form>
    </div>

    <div class="header-dropdown">
      <a
        class="navbar-text"
        mat-button
        fxHide.md
        fxHide.sm
        fxHide.xs
        [class.active-link]="checkPath() === '/explore'"
      >
        Explore
      </a>
      <div class="dropdown-content">
        <button
          mat-menu-item
          (click)="goToExplore('ethereum')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/ethereum.png" />
          </div>
          <div fxFlex="80%">Ethereum</div>
        </button>
        <button
          mat-menu-item
          (click)="goToExplore('polygon')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/polygon.png" />
          </div>
          <div fxFlex="80%">Polygon</div>
        </button>
        <button
          mat-menu-item
          (click)="goToExplore('stellar')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img
              class="bc-icon"
              src="../../../assets/images/stellar_black.png"
            />
          </div>
          <div fxFlex="80%">Stellar</div>
        </button>
        <button
          mat-menu-item
          (click)="goToExplore('solana')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/solana.png" />
          </div>
          <div fxFlex="80%">Solana</div>
        </button>
      </div>
    </div>
    <div class="header-dropdown">
      <a
        class="navbar-text"
        mat-button
        fxHide.md
        fxHide.sm
        fxHide.xs
        [class.active-link]="checkPath() === '/resources'"
      >
        Resources
      </a>
      <div class="dropdown-content">
        <button mat-menu-item [routerLink]="'/help-center'">Help Center</button>
        <button mat-menu-item [routerLink]="'/docs'">Documentation</button>
        <button mat-menu-item [routerLink]="'/faq'">FAQ's</button>
      </div>
    </div>
    <!-- <a
      fxHide.md
      fxHide.sm
      fxHide.xs
      class="navbar-text"
      mat-button
      [matMenuTriggerFor]="remenu"
      [class.active-link]="checkPath() === '/resources'"
    >
      Resources
    </a>
    <mat-menu #remenu="matMenu" class="resource-menu">
      <button mat-menu-item [routerLink]="'/help-center'">
        Help Center
      </button>
      <button mat-menu-item [routerLink]="'/docs'">
        Documentation
      </button>
      <button mat-menu-item [routerLink]="'/faq'">
       FAQ's
      </button>
    </mat-menu> -->
    <a
      fxHide.md
      fxHide.sm
      fxHide.xs
      class="navbar-text"
      mat-button
      [routerLink]="'/mint'"
      [routerLinkActive]="['active-link']"
    >
      Create
    </a>

    <!-- <mat-icon
      fxHide.md
      fxHide.sm
      fxHide.xs
      style="color: #00c853"
      class="material-symbols-outlined example-icon"
      >notifications</mat-icon
    >-->
    <mat-icon
      fxHide.md
      fxHide.sm
      fxHide.xs
      class="material-symbols-outlined example-icon"
      (click)="openDialog(false)"
    >
      account_balance_wallet
    </mat-icon>
    <div
      fxHide.md
      fxHide.sm
      fxHide.xs
      style="padding-top: 13px"
      class="header-dropdown"
    >
      <mat-icon
        class="material-symbols-outlined example-icon"
        (click)="goToOverview('ethereum')"
      >
        account_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined example-icon" matRipple>
        arrow_drop_down
      </mat-icon>
      <div class="dropdown-account-content">
        <button
          mat-menu-item
          (click)="goToOverview('ethereum')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/ethereum.png" />
          </div>
          <div fxFlex="80%">Ethereum</div>
        </button>
        <button
          mat-menu-item
          (click)="goToOverview('polygon')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/polygon.png" />
          </div>
          <div fxFlex="80%">Polygon</div>
        </button>
        <button
          mat-menu-item
          (click)="goToOverview('stellar')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img
              class="bc-icon"
              src="../../../assets/images/stellar_black.png"
            />
          </div>
          <div fxFlex="80%">Stellar</div>
        </button>
        <button
          mat-menu-item
          (click)="goToOverview('solana')"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <img class="bc-icon" src="../../../assets/images/solana.png" />
          </div>
          <div fxFlex="80%">Solana</div>
        </button>
      </div>
    </div>

    <mat-menu #accmenu="matMenu" class="explore-menu">
      <button mat-menu-item (click)="goToOverview('ethereum')">
        <img
          class="bc-icon"
          src="../../../assets/images/ethereum.png"
        />Ethereum
      </button>
      <button mat-menu-item (click)="goToOverview('polygon')">
        <img class="bc-icon" src="../../../assets/images/polygon.png" />Polygon
      </button>
      <button mat-menu-item (click)="goToOverview('stellar')">
        <img
          class="bc-icon"
          src="../../../assets/images/stellar_black.png"
        />Stellar
      </button>
      <button mat-menu-item (click)="goToOverview('solana')">
        <img class="bc-icon" src="../../../assets/images/solana.png" />Solana
      </button>
    </mat-menu>
    <mat-icon
      class="material-symbols-outlined example-icon"
      fxHide.xl
      fxHide.lg
      fxShow.md
      fxShow.sm
      fxShow.xs
      (click)="openSideNav()"
    >
      menu
    </mat-icon>
  </div>
</mat-toolbar>
<mat-drawer-container
  class="side-nav-container"
  *ngIf="sideNavOpened"
  fxHide.xl
  fxHide.lg
  fxShow.md
  fxShow.sm
  fxShow.xs
  #sidenav
>
  <mat-drawer-content class="side-nav-content">
    <div>
      <button mat-icon-button (click)="closeSideNav()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <br />

    <div class="side-nav-search-input-group">
      <input type="text" placeholder="Search here" />
      <mat-icon class="material-symbols-outlined">search</mat-icon>
    </div>

    <br />
    <div class="side-nav-link">
      <a
        class="sidenav-text"
        mat-button
        [routerLink]="'/home'"
        [routerLinkActive]="['active-link']"
      >
        Home
      </a>
    </div>
    <div class="side-nav-link">
      <div fxLayout="row" fxLayoutAlign="start center" (click)="toggleBcList()">
        <a class="sidenav-text" mat-button [routerLinkActive]="['active-link']">
          Explore
        </a>
        <mat-icon
          class="material-symbols-outlined example-icon"
          [ngStyle]="{
            transform: bcListExpanded ? 'rotate(0deg)' : 'rotate(270deg)'
          }"
          matRipple
        >
          arrow_drop_down
        </mat-icon>
      </div>
      <div class="child-nodes" *ngIf="bcListExpanded">
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToExplore('ethereum')"
        >
          Ethereum
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToExplore('polygon')"
        >
          Poloygon
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToExplore('stellar')"
        >
          Stellar
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToExplore('solana')"
        >
          Solana
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        (click)="toggleResources()"
      >
        <a class="sidenav-text" mat-button [routerLinkActive]="['active-link']">
          Resources
        </a>
        <mat-icon
          class="material-symbols-outlined example-icon"
          [ngStyle]="{
            transform: resourcesExpanded ? 'rotate(0deg)' : 'rotate(270deg)'
          }"
          matRipple
        >
          arrow_drop_down
        </mat-icon>
      </div>
      <div class="child-nodes" *ngIf="resourcesExpanded">
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          [routerLink]="'/help-center'"
          (click)="closeSideNav()"
        >
          Help Center
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          [routerLink]="'/docs'"
          (click)="closeSideNav()"
        >
          Documentation
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          [routerLink]="'/faq'"
          (click)="closeSideNav()"
        >
          FAQs
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <a
        class="sidenav-text"
        mat-button
        [routerLink]="'/mint'"
        [routerLinkActive]="['active-link']"
      >
        Create
      </a>
    </div>
    <div class="side-nav-link">
      <a class="sidenav-text" mat-button> Notifications </a>
    </div>
    <div class="side-nav-link">
      <a class="sidenav-text" mat-button (click)="openDialog(true)">
        Connect Wallet
      </a>
    </div>
    <div class="side-nav-link">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        (click)="toggleAccList()"
      >
        <a class="sidenav-text" mat-button> Account </a>
        <mat-icon
          class="material-symbols-outlined example-icon"
          [ngStyle]="{
            transform: accListExpanded ? 'rotate(0deg)' : 'rotate(270deg)'
          }"
          matRipple
        >
          arrow_drop_down
        </mat-icon>
      </div>

      <div class="child-nodes" *ngIf="accListExpanded">
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToOverview('ethereum')"
        >
          Ethereum
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToOverview('polygon')"
        >
          Poloygon
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToOverview('stellar')"
        >
          Stellar
        </a>
        <a
          class="sidenav-text"
          mat-button
          [routerLinkActive]="['active-link']"
          (click)="goToOverview('solana')"
        >
          Solana
        </a>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div *ngIf="loaderService.isLoading | async" class="load-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
