<p>mint3 works!</p>
<div class="main-div">

    <mat-card class="example-card">
      <mat-card-header>
        <div class="box-header">
            <!-- Src image is temporary hosted in image.ibb-->
            <!--<img src="https://image.ibb.co/hDqa3p/codershood.png">-->
        </div>
      </mat-card-header>
      <mat-card-content class="mint">
         <h1>Do you wish to Mint your NFT? Just Confirm Now!</h1>
         <mat-card-actions>
            <mat-button [routerLink]="'/home'" class="mint3Button" color="primary">Mint Now!</mat-button>
          </mat-card-actions>
        
      </mat-card-content>
     
    </mat-card>
  
