.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-full-width {
  height: 100%;
}

.mat-card-content {
  width: 100%;
}

.main-div.mat-card-content {
  max-width: 200px;
  max-height: 100px;
}

.example-card {
  width: 700px;
  height: 300px;
}

.mint3Button {
  height: 40px;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30%;
  background-color: green;
  color: white;
  border-radius: 5%;
}

.mint {
  margin-left: 12%;
  margin-top: 15%;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}

.seperator {
  width: 100%;
  background-color: #595959;
  border: 1px solid #595959;
  margin-top: 30px;
  margin-bottom: 50px;
}

.mint3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.mint3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

p.text {
  text-align: center;
  max-width: 450px;
  margin-top: 50px;
  color: #ffffff;
  font-size: large;
}

.btn-mint {
  margin: 40px 0px 40px 0px;
  width: 190px;
  height: 35px;

  background: #80cca3;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

#message {
  max-width: 800px;
  line-height: 35px;
}
