<head>
  <!-- <meta http-equiv="refresh" content="15;url=http://localhost:4200/user-dashboard/overview?blockchain={{this.data}}" /> -->
</head>
<div class="mint3-container">
  <img src="../../../assets/images/confirm.png" /><br />
  <p class="heading">Your NFT has been created.</p>

  <div class="seperator"></div>
  <div class="mint3-content">
    <p class="normal-text" id="message">
      Go to your
      <a
        (click)="showInProfile()"
        style="text-decoration: underline; color: #80cca3; cursor: pointer"
        >profile </a
      >to view your minted NFT. If you wish to mint another nft, please click
      the button below
      <!-- <span style="color: rgba(11, 170, 8, 1)">15 seconds.</span> -->
    </p>
    <br />
    <button mat-flat-button class="btn-mint" (click)="openDialog()">
      Mint again
    </button>
  </div>
</div>
