<p>partners works!</p>
<div class="main-div">

    <mat-card class="example-card">
      <mat-card-header>
       Add Partners
      </mat-card-header>
      <mat-card-content>
          
        <form class="example-form" [formGroup]="controlGroup">
            <div class="upload-area">
                <img *ngIf="!imageSrc"
                  src="../../../assets/icons/imguploadicon.png"
                  height="86.06px"
                  width="83px"
                />
                <div *ngIf="!imageSrc" style="text-align: center">
                  <p class="img-text">Drag and Drop</p>
                  <p class="img-text">or Browse</p>
                </div>
                <input
                  formControlName="file"
                  id="file"
                  type="file"
                  accept="image/*,video/*,audio/*,.glb,.gltf,.svg"
                  class="form-control file"
                  (change)="onFileChange($event)"
                />
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/>
              </div>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter an Introductory Topic" formControlName="topic" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter the Company Website URL" formControlName="weblink" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter the Company Name " formControlName="name" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter a Description " formControlName="description" >
                  </mat-form-field>
                </td>
              </tr>
        </table>
        </form>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="save()">Publish About Partners</button>
      </mat-card-actions>
    </mat-card>
  </div>
