@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
}

.code-behind-btn {
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #ffffff;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.svgArea {
  /* Rectangle 481 */
  box-sizing: border-box;
  position: absolute;
  width: 431px;
  height: 428.7px;
  left: calc(40% - 431px / 3 - 424.5px);
  top: 0px;
}
.svgimg {
  border: 3px solid #feffff;
  border-radius: 20px;
  background: white;
  color: white;
  margin-top: 180px;
  margin-left: 12%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background: #ffffff;
  border-radius: 20px;
  color: black;

  /* width: 803.25px; */
  min-height: 65px;
  margin-top: -4px;
  width: 100.75%;
  margin-left: -3px;
}

.viewnftnavbtn {
  font-size: 18px;
  font-weight: 400px;

  width: 170px;
  height: 35px;
}

.viewnftnavbtn:hover {
  background: #80cca3;
  border-radius: 20px;
  transition: 0.5s;
}

.viewnftnavbtn-active {
  background: #80cca3;
  border-radius: 20px;
}

.nft-div {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  row-gap: 50px;
  /* height: calc(100vh - 280px); */
}

.nft-img-div {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 381px;
  border: 3px solid white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.nft-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.link {
  color: #80cca3;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}

.nft-view-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1250px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumb-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
  width: 350px;
}

.breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nft-sum {
  border-right: 1px solid #6b6b6b;
}

.nft-sum-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-right: none;
}

.nft-sum p {
  margin-top: 43px;
  width: 90%;
}

.nft-sell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  /* background-color: #5a5c5b3a; */
}

.blockchain-logo {
  width: 30px;
  height: 30px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #777777;
}

.stats mat-icon {
  margin-right: 8px;
}

.btn-buy {
  width: 153px;
  height: 44px;
}

.nft-cat {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.nft-cat span {
  font-weight: 700;
}

.nft-det {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nft-det-wrapper {
  margin-top: 20px;
  padding-bottom: 29px;
  border-bottom: 1px solid #6b6b6b;
  row-gap: 10px;
}

.owners {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.prev-o {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 32px;
  /* or 178% */

  color: #ffffff;
}

.curr-o {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 32px;
  /* or 178% */

  color: #80cca3;
}

.owner-l {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  word-break: break-all;
}

.owner-s {
  font-weight: 400;
  font-size: 20px;
}

.nft-sum .owner-l {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  word-break: break-all;
}

.nft-sum .owner-s {
  font-weight: 700;
  font-size: 20px;
}

.user-story {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.desc {
  position: relative;
  background: #2d2d2d;
  border-radius: 10px;
  overflow-y: auto;
}

.desc label {
  margin: 20px;
}

.u-s-text {
  margin: 27px;
  word-wrap: break-word;
}

.heading-s {
  margin-top: 45px;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 143.52%;
  /* identical to box height, or 26px */

  text-transform: capitalize;

  color: #ffffff;
}

.txn-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.txn-table thead {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143.52%;

  color: #060b08;
}

.txn-table thead tr:first-child th:first-child {
  border-radius: 10px 0px 0px 10px;
}

.txn-table thead tr:first-child th:last-child {
  border-radius: 0px 10px 10px 0px;
}

.txn-table tbody tr:first-child td:first-child {
  border-radius: 10px 0px 0px 0px;
}

.txn-table tbody tr:first-child td:last-child {
  border-radius: 0px 10px 0px 0px;
}

.txn-table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 10px;
}

.txn-table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}

.txn-table th,
td {
  border: 1px solid #0e0e0e;
  padding: 8px;
}

.txn-table thead tr th {
  border-top: none;
  border-bottom: none;
}

.txn-table thead tr th:first-child {
  border-left: none;
}

.txn-table thead tr th:last-child {
  border-right: none;
}

.txn-table tbody tr td:first-child {
  border-left: none;
}

.txn-table tbody tr td:last-child {
  border-right: none;
}

.txn-table tbody tr:first-child td {
  border-top: none;
}

.txn-table tbody tr:last-child td {
  border-bottom: none;
}

.txn-table td {
  background-color: #2d2d2d;
}

::ng-deep .buy-view-tabs > .mat-tab-header {
  display: none;
}

.btn-prev mat-icon {
  transform: scale(1.8);
}

.sell-form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.review-label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #80cca3;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
  transition: none !important;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

.sell-input-grp {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.sell-input-grp label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.sell-cont {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.txn-cont {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.table-wrapper {
  overflow-x: auto;
}

.hidden {
  display: none;
}

.nft-img {
  margin: 30px;
  /* max-width: 300px;
  max-height: 300px; */
  width: 80%;
  height: 80%;
  border-radius: 20px;
  object-fit: cover;
}

.sum-text {
  word-wrap: break-word;
}

.nft-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.nft-price img {
  width: 11px;
  height: 18px;
}

.label-hl {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 110% */

  color: #80cca3;
}

.label-sm {
  margin-top: 4px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 110% */

  color: rgba(119, 119, 119, 1);
}

.separator {
  background: #6b6b6b;
  border: 1px solid #6b6b6b;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reviews-header label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 143.52%;
  /* identical to box height, or 26px */

  text-transform: capitalize;

  color: #ffffff;
}

.reviews-filters-cont {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.review-filter {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 3px 13px 3px 13px;
}

.review-filter-active {
  color: #000;
  background: #fff;
}

.btn-review {
  background: #80cca3;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  width: 146px;
  height: 35px;
}

.reviews-cont {
  display: flex;
  flex-direction: column;
  background: #2d2d2d;
  border-radius: 10px;
  padding: 30px;
  row-gap: 20px;
}

.review {
  column-gap: 10px;
}

.user-rating {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.user-rating .name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  max-width: 100%;
  color: #ffffff;

  word-wrap: break-word;
}

.user-rating .date {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 100%;

  color: #ffffff;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 36px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}
/*
.rating > .full:before {
  content: "\f005";
  position: absolute;
}

.rating > .full {
  color: transparent;
} */

.rating > .half {
  color: transparent;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #52d65f;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #79ec85;
}

.r-description textarea {
  height: 220px;
  resize: none;
}

/* default and hover color */
::ng-deep
  .mat-form-field-appearance-outline.r-description
  .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 260px;
  transition: none !important;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.r-description.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 260px;
}

/****** Style Star Rating Widget *****/

.user-ratings {
  border: none;
}

.user-ratings > input {
  display: none;
}
.user-ratings > label:before {
  margin: 2px;
  font-size: 12px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.user-ratings > .half:before {
  content: "\f089";
  position: absolute;
}

.user-ratings > label {
  color: #fff;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.user-ratings > input:checked ~ label, /* show gold star when clicked */
.user-ratings:not(:checked) > label:hover, /* hover current star */
.user-ratings:not(:checked) > label:hover ~ label {
  color: #80cca3;
} /* hover previous stars in list */

.user-ratings > input:checked + label:hover, /* hover current star when changing rating */
.user-ratings > input:checked ~ label:hover,
.user-ratings > label:hover ~ input:checked ~ label, /* lighten current selection */
.user-ratings > input:checked ~ label:hover ~ label {
  color: #80cca3;
}

.open-link {
  color: #fff;
  text-decoration: none;
}

#iframe {
  border: none;
  margin: 10px;
}

.no-reviews-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
}

.no-story-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 150px;
  max-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  row-gap: 10px;
}

.comment {
  align-self: flex-start;
}

.nfttagchips {
  max-width: 100px;
  font-size: 14px;
  color: #000;
  display: inline-block;
  min-height: 32px;
  margin-right: 10px;
  background-color: #ddd;
  border: 1px solid #848484;
  border-radius: 8px;
  padding: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* color:#848484 ; */
}
.p-text .sum-text .tag-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
