<div class="main-div" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="nft-view-header" fxFlex="100%" fxLayout="row wrap">
    <div
      fxLayout="row wrap"
      style="display: flex; flex-direction: row; justify-content: space-between;"
      class="cont-wrapper"
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>

        <a style="color: #00c853">{{this.NFTList.nftname}}</a>
      </div>
    </div>
  </div>
  <div
    class="nft-div cont-wrapper"
    fxLayout="row wrap"

  >
    <div
      class="nft-sum"
      ngClass.lt-lg="nft-sum-mobile"
      fxFlex.lg="35%"
      fxFlex.gt-lg="35%"
      fxFlex.lt-lg="100%"
    >
      <div
        class="nft-img-div"
        ngStyle.lt-lg="width : 400px; height: 400px"
        ngStyle.lt-sm="width : 100%; "
      >
        <img [src]="imageSrc" *ngIf="imageSrc"  class="nft-img" />
      </div>
      <p class="p-text sum-text" ngStyle.lt-lg="width : 100%">
       {{this.NFTList.description}}
      </p>
    </div>
    <div
      class="nft-sell"
      fxFlex.lg="61%"
      fxFlex.gt-lg="61%"
      fxFlex.lt-lg="100%"
    >
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img
          src={{this.image}}
          class="blockchain-logo"
        />
        <div class="stats" [class.hidden]="selectedTab === 1">
          <mat-icon class="material-symbols-outlined"> visibility </mat-icon>
          <label style="margin-right: 30px">{{this.watchlist}} watched</label>
          <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
          <label>{{this.favorites}} favorites</label>
          <button mat-icon-button class="code-behind-btn" (click)="openDialog()">
            <img src="../../../assets/icons/code-icon.png" style="flex-basis: 40%" />
          </button>
        </div>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between "
        class="nft-det-wrapper"
      >
        <div class="nft-det">
          <label class="nft-name">{{this.NFTList.nftname}}</label>
          <label class="nft-cat"><b>Category - </b>{{this.NFTList.categories}}</label>
          <div class="nft-price">
            <label class="nft-cat"><b>Price - </b></label>
            <img src={{this.icon}} />
            <label class="label-hl">{{this.NFTList.currentprice}} {{this.crypto}}</label>
            <label class="label-sm">{{this.price}}</label>
          </div>
        </div>
        <button
          mat-flat-button
          class="btn-primary btn-buy"
          [class.hidden]="selectedTab === 1"
          (click)="buyNFT()"
        >
          Buy Now
        </button>
      </div>
      <mat-tab-group [selectedIndex]="selectedTab">
        <mat-tab>
          <div class="sell-cont">
            <div class="owners">
              <div class="prev-o">
                <label class="owner-s">Creator Name</label>
                <label class="owner-l">{{this.NFTList.artistname}}</label>
              </div>
              <div class="prev-o">
                <label class="owner-s">Creator</label>
                <label class="owner-l"
                  >{{this.NFTList.creatoruserid}}</label
                >
              </div>
              <div class="prev-o">
                <label class="owner-s">Issuer</label>
                <label class="owner-l"
                  >{{this.NFTList.marketcontract}}</label
                >
              </div>
              <div class="prev-o">
                <label class="owner-s">Previous Owner</label>
                <label class="owner-l"
                  >{{this.NFTList.distributorpk}}</label
                >
              </div>
             
            </div>
            <div class="user-story">
              <label class="heading-s">NFT Story</label>
              <div class="desc">
                <iframe
                  id="iframe"
                  #iframe
                  width="100%"
                  height="100%"
                  [hidden]="loaded"
                ></iframe>
              </div>
            </div>
            <div class="txn-cont">
              <label class="heading-s">Transaction History</label>
              <div class="table-wrapper">
                <table class="txn-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>View On Explorer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of List">
                      <td width="50%">
                        {{item.NFTName}}
                      </td>
                      <td width="25%">{{item.Status}}</td>
                      <td width="25%">
                        <mat-icon class="material-symbols-outlined cursor-p">
                          <a href="{{item.NFTTxnHash}}" >open_in_new</a>
                        </mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="separator"></div>
            <div class="reviews-wrapper">
              <div class="reviews-header">
                <label>Reviews</label>
                <div class="reviews-filters-cont">
                  <span
                    class="review-filter"
                    [class.review-filter-active]="filter === 'newest'"
                    (click)="setFilter('newest')"
                    >Newest</span
                  >
                  <span
                    class="review-filter"
                    [class.review-filter-active]="filter === 'highest'"
                    (click)="setFilter('highest')"
                    >Highest</span
                  >
                  <span
                    class="review-filter"
                    [class.review-filter-active]="filter === 'lowest'"
                    (click)="setFilter('lowest')"
                    >Lowest</span
                  >
                </div>
              </div>
              <div class="reviews-cont">
                <div
                  class="review"
                  fxLayout="row wrap"
                  *ngFor="let items of ReviewList"
                >
                  <div
                    class="user-rating"
                    fxFlex.lg="15%"
                    fxFlex.gt-lg="15%"
                    fxFlex.md="15%"
                    fxFlex.lt-md="100%"
                  >
                    <label class="name">{{items.UserID}}</label>
                    <label class="date">{{items.Time}}</label>
                    <div>
                      <div
                        style="
                          margin-left: -15px;
                          display: flex;
                          flex-direction: row;
                          justify-content: flex-start;
                        "
                      >
                        <fieldset class="user-ratings">
                          <input
                            type="radio"
                            id="star5"
                            value="5"
                            checked
                            [disabled]="true"
                          /><label
                            class="full"
                            for="star5"
                            title="Awesome - 5 stars"
                          >{{items.Rating}}</label>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div
                    class="comment"
                    fxFlex.lg="80%"
                    fxFlex.gt-lg="80%"
                    fxFlex.md="80%"
                    fxFlex.lt-md="100%"
                  >
                    <p class="p-text">
                     {{items.Description}}
                    </p>
                  </div>
                </div>
              </div>
              <button mat-flat-button class="btn-review" (click)="addReview()">
                Add Review
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <div style="margin-top: 27px; margin-bottom: 30px">
            <button mat-icon-button (click)="prevTab()" class="btn-prev">
              <mat-icon class="material-symbols-outlined">
                keyboard_backspace
              </mat-icon>
            </button>
          </div>
          <div>
            <form class="sell-form"  [formGroup]="controlGroup" >
              <label class="review-label">Add Your Review</label>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  column-gap: 40px;
                  row-gap: 20px;
                "
              >
                <div
                  class="sell-input-grp"
                  ngStyle.lt-sm="width : 100%"
                  ngStyle.sm="width : 100%"
                  ngStyle.md="width : 50%"
                  ngStyle.lg="width : 50%"
                  ngStyle.xl="width : 30%"
                  ngStyle.gt-xl="width : 20%"
                >
                  <label>Your Name</label>
                  <mat-form-field appearance="outline">
                    <input
                      type="text"
                      class="input"
                      matInput
                      name="userid"
                      formControlName="userid"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="sell-input-grp"
                  ngStyle.lt-sm="width : 100%"
                  ngStyle.sm="width : 100%"
                  ngStyle.md="width : 40%"
                  ngStyle.lg="width : 40%"
                  ngStyle.xl="width : 40%"
                  ngStyle.gt-xl="width : 20%"
                >
                  <label>Select star rating</label>
                  <div
                    style="
                      margin-left: -15px;
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-start;
                    "
                  >
                    <fieldset class="rating">
                      <input
                        type="radio"
                        id="star5"
                        formControlName="rating"
                        value="5"
                      /><label
                        class="full"
                        for="star5"
                        title="Awesome - 5 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star4half"
                        formControlName="rating"
                        value="4.5"
                      /><label
                        class="half"
                        for="star4half"
                        title="Very good - 4.5 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star4"
                        formControlName="rating"
                        value="4"
                      /><label
                        class="full"
                        for="star4"
                        title="Pretty good - 4 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star3half"
                        formControlName="rating"
                        value="3.5"
                      /><label
                        class="half"
                        for="star3half"
                        title="Satisfactory - 3.5 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star3"
                        formControlName="rating"
                        value="3"
                      /><label
                        class="full"
                        for="star3"
                        title="Marginal - 3 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star2half"
                        formControlName="rating"
                        value="2.5"
                      /><label
                        class="half"
                        for="star2half"
                        title="Marginaly bad - 2.5 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star2"
                        formControlName="rating"
                        value="2"
                      /><label
                        class="full"
                        for="star2"
                        title=" bad - 2 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star1half"
                        formControlName="rating"
                        value="1.5"
                      /><label
                        class="half"
                        for="star1half"
                        title="vary bad - 1.5 stars"
                      ></label>
                      <input
                        type="radio"
                        id="star1"
                        formControlName="rating"
                        value="1"
                      /><label
                        class="full"
                        for="star1"
                        title="very bad - 1 star"
                      ></label>
                      <input
                        type="radio"
                        id="starhalf"
                        formControlName="rating"
                        value="0.5"
                      /><label
                        class="half"
                        for="starhalf"
                        title="This should not exist - 0.5 stars"
                      ></label>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div
                class="sell-input-grp"
                ngStyle.lt-sm="width : 100%"
                ngStyle.sm="width : 100%"
                ngStyle.md="width : 100%"
                ngStyle.lg="width : 100%"
                ngStyle.xl="width : 100%"
                ngStyle.gt-xl="width : 100%"
              >
                <label>Description</label>
                <mat-form-field appearance="outline" class="r-description">
                  <textarea
                    class="input"
                    matInput
                    name="Description"
                    formControlName="description"
                  ></textarea>
                </mat-form-field>
              </div>
              <button
                mat-flat-button
                class="btn-review"
                (click)="openConfirmation()"
              >
                Submit
              </button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>




<!-- <div class="main-div" fxLayout="row wrap">
  <div class="nft-view-header" fxFlex="100%">
    <div
      style="
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      "
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a [routerLink]="'/getNft'" class="breadcrumb-link">Buy NFT</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a style="color: #00c853">TOMATOE - T0001</a>
      </div>
      <div>
        <h1 style="font-size: 40px" fxHide.lt-md="true">Buy NFT</h1>
      </div>
    </div>
  </div>
  <div class="nft-div" fxFlex="100%" fxLayout="row wrap">
    <div
      class="nft-img-div"
      fxFlex.lg="25%"
      fxFlex.xl="20%"
      fxFlex.md="30%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <img [src]="imageSrc" *ngIf="imageSrc" class="b-nft-img" />
      <div class="nft-name"><label>{{ NFTList.nftname }}</label></div>
    </div>
    <div
      fxFlex.lg="55%"
      fxFlex.xl="60%"
      fxFlex.md="50%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <div class="nft-details">
        <div class="navbar" fxLayout="row wrap">
          <button
            class="viewnftnavbtn"
            mat-button
            (click)="goToActvity()"
          >
            Activity
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            (click)="goToReviews()"
          >
            Reviews
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            (click)="goToStory()"
          >
            User Story
          </button>
        </div>
        <div class="nft-details-cont">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              column-gap: 15%;

              overflow: hidden;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 30px;
              padding-right: 30px;
              width: 90%;
              row-gap: 15px;
              background: #2d2d2d;
              border-radius: 20px;
            "
            fxLayout="row wrap"
          >
            <div
              class="info"
              fxFlex.xs="90%"
              fxFlex.sm="30%"
              fxFlex.md="30%"
              fxFlex.lg="30%"
              fxFlex.xl="30%"
            >
              <label class="info-title"
                ><strong>CREATOR - </strong> {{ NFTList.creatoruserid }}</label
              >
              <label class="info-title"
                ><strong>ISSUER - </strong>{{ NFTList.nftissuerpk }}
              </label>
              <label class="info-title"
                ><strong>NFT TXN HASH - </strong>{{ NFTList.nfttxnhash }}
              </label>
              <label class="info-title"
                ><strong>BLOCKCHAIN - </strong> {{ NFTList.blockchain }}
              </label>
              <label class="info-title"
                ><strong>NFT NAME - </strong> {{ NFTList.nftname }}
              </label>
            </div>
            <div class="vl" fxHide.xs="true" fxFlex.sm="0.25%"></div>
            <div
              class="info"
              fxFlex.xs="90%"
              fxFlex.sm="30%"
              fxFlex.md="30%"
              fxFlex.lg="30%"
              fxFlex.xl="30%"
            >
              <label class="info-title"
                ><strong>COLLECTION - </strong> {{ NFTList.collection }}
              </label>
              <label class="info-title"
                ><strong>CATEGORY - </strong>{{ NFTList.category }}
              </label>
              <label class="info-title"
                ><strong>AMOUNT - </strong>{{ NFTList.copies }}
              </label>
              <label class="info-title"
                ><strong>ARTIST NAME - </strong>{{ NFTList.artistname }}
              </label>
            </div>
          </div>
          <div style="width: 90%; margin-top: 20px; margin-bottom: 20px">
            <p
              style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                max-height: 500px;
                overflow-y: auto;
              "
            >
              {{ NFTList.description }}
            </p>
            <a [href]="NFTList.nftcontenturl" class="link">More on the NFT</a
            ><br />
            <a [href]="NFTList.artistprofilelink" class="link"
              >More on the Artist</a
            >
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin-top: 20px;
              margin-bottom: 20px;
              width: 90%;
            "
          >
            <button mat-flat-button class="btn-buy" (click)="buyNFT()">
              Buy Now
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px">
        <button mat-flat-button class="btn-create-col" (click)="showInProfile()">
          Done
        </button>
        <br />
        <div class="overview-nft-item" *ngFor="let item5 of List">
          <table [border]="1">
            <tr>
              <td [width]="100">{{item5.NFTName}}</td>
              <td [width]="100">{{item5.Status}}</td>
              <td [width]="100"><a href="https://stellar.expert/explorer/testnet/tx/{{item5.NFTTxnHash}}">{{item5.NFTTxnHash}}</a></td>
            </tr>
          </table>
          </div>
        <a href="#" class="link" style="color: white">View On Stellar.Expert</a>
      </div>
    </div>
  </div>
</div> -->
