<div class="main-div" fxLayout="row wrap">
  <div class="nft-view-header" fxFlex="100%">
    <div
      style="
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      "
    >
      <div class="breadcrumb-div">
        <a (click)="goToExplore()" class="breadcrumb-link">Explore</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a [routerLink]="'/getNft'" class="breadcrumb-link">Buy NFT</a>
        <mat-icon
          class="material-symbols-outlined"
          style="vertical-align: middle"
        >
          navigate_next
        </mat-icon>
        <a style="color: #00c853">TOMATOE - T0001</a>
      </div>
      <div>
        <h1 style="font-size: 40px" fxHide.lt-md="true">Buy NFT</h1>
      </div>
    </div>
  </div>
  <div class="nft-div" fxFlex="100%" fxLayout="row wrap">
    <div
      class="nft-img-div"
      fxFlex.lg="25%"
      fxFlex.xl="20%"
      fxFlex.md="30%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <img [src]="imageSrc" *ngIf="imageSrc" class="b-nft-img" />
      <div class="nft-name"><label>{{ NFTList.nftname }}</label></div>
    </div>
    <div
      fxFlex.lg="55%"
      fxFlex.xl="60%"
      fxFlex.md="50%"
      fxFlex.sm="80%"
      fxFlex.xs="80%"
    >
      <div class="nft-details">
        <div class="navbar" fxLayout="row wrap">
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            Endorse
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            Activity
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            Reviews
          </button>
          <button
            class="viewnftnavbtn"
            mat-button
            [routerLink]="'/create-account'"
          >
            User Story
          </button>
        </div>
        <div class="nft-details-cont">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              column-gap: 15%;

              overflow: hidden;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 30px;
              padding-right: 30px;
              width: 90%;
              row-gap: 15px;
              background: #2d2d2d;
              border-radius: 20px;
            "
            fxLayout="row wrap"
          >
            <div
              class="info"
              fxFlex.xs="90%"
              fxFlex.sm="30%"
              fxFlex.md="30%"
              fxFlex.lg="30%"
              fxFlex.xl="30%"
            >
              <label class="info-title"
                ><strong>CREATOR - </strong> {{ NFTList.creatoruserid }}</label
              >
              <label class="info-title"
                ><strong>ISSUER - </strong>{{ NFTList.nftissuerpk }}
              </label>
              <label class="info-title"
                ><strong>NFT TXN HASH - </strong>{{ NFTList.nfttxnhash }}
              </label>
              <label class="info-title"
                ><strong>BLOCKCHAIN - </strong> {{ NFTList.blockchain }}
              </label>
              <label class="info-title"
                ><strong>NFT NAME - </strong> {{ NFTList.nftname }}
              </label>
            </div>
            <div class="vl" fxHide.xs="true" fxFlex.sm="0.25%"></div>
            <div
              class="info"
              fxFlex.xs="90%"
              fxFlex.sm="30%"
              fxFlex.md="30%"
              fxFlex.lg="30%"
              fxFlex.xl="30%"
            >
              <label class="info-title"
                ><strong>COLLECTION - </strong> {{ NFTList.collection }}
              </label>
              <label class="info-title"
                ><strong>CATEGORY - </strong>{{ NFTList.category }}
              </label>
              <label class="info-title"
                ><strong>AMOUNT - </strong>{{ NFTList.copies }}
              </label>
              <label class="info-title"
                ><strong>ARTIST NAME - </strong>{{ NFTList.artistname }}
              </label>
            </div>
          </div>
          <div style="width: 90%; margin-top: 20px; margin-bottom: 20px">
            <p
              style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                max-height: 500px;
                overflow-y: auto;
              "
            >
              {{ NFTList.description }}
            </p>
            <a [href]="NFTList.nftcontenturl" class="link">More on the NFT</a
            ><br />
            <a [href]="NFTList.artistprofilelink" class="link"
              >More on the Artist</a
            >
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin-top: 20px;
              margin-bottom: 20px;
              width: 90%;
            "
          >
            <button mat-flat-button class="btn-buy" (click)="buyNFT()">
              Buy Now
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px">
        <button
          mat-flat-button
          style="
            background: #625353;
            border-radius: 10px;
            color: white;
            margin-bottom: 10px;
          "
        >
          Browse Transaction History
        </button>
        <br />
        <a href="#" class="link" style="color: white">View On Stellar.Expert</a>
      </div>
    </div>
  </div>
</div>
