<div style="width: 50%;height: 100%;margin-top: 9%;margin-left: auto;margin-right: auto; margin-bottom: 7%;">
  <mat-icon class="back" matTooltip="Back" (click)="back()">arrow_back
  </mat-icon>
  <p class="heading">
    Create your NFT story.
  </p><br>
  <ckeditor class="txteditor" [(ngModel)]="data" name="editor1" height="85%" [readonly]="false"
    style="margin-top: 60px;">
  </ckeditor>
  <br>
  <button mat-flat-button class="btn-save-story" (click)="save()">
    Save NFT story
  </button>
  <div>