.home-title {
  width: 511px;
  height: 118px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
}

.home-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  word-wrap: break-word;
  text-align: center;
  color: #ffffff;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title-wrapper {
  max-width: 500px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-bottom: 50px;
}

.home-body {
  /* position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0; */
  background: #121212;
  /* width: 100%;
  height: 100%; */
  /* overflow-y: auto; */
  background-image: url("../../../assets/images/splash_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.home-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#homeHeader {
  margin-top: 64px;
}

.btn-create-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 42px 0px 40px 0px;
  padding: 10px 25px 10px 25px;
  border: 3px solid #10ceac;
  border-radius: 10px;
  box-sizing: border-box;
  color: #10ceac;
  cursor: pointer;
  transition: 0.5s ease-out;
  background: transparent;
}

.btn-create-home:hover {
  background: #10ceac;
  color: white;
}

.btn-create-home label {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  cursor: pointer;
}

.home-content {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.item {
  height: 245px;
  min-width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.item-actions {
  height: 204px;
  width: 202px;
  padding: 20px 0px 20px 0px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.item-actions-image-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-actions-image {
  height: 160px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
}

.item-name-div {
  width: 100%;
  background: #67726b;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-name {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}

.item-actions-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 45px;
  background: #2d2d2d;
  width: 100%;
}

.item-icon {
  cursor: pointer;
}

.material-icons-outlined:hover {
  fill: white;
}

.hot-picks {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  width: 100%;
}

.hot-picks-content {
  min-height: 250px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 10px 20px 0px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.hot-picks-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 5px solid #00c820;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hot-picks-header-title img {
  margin-top: 4px;
}

.hot-picks-header-actions {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  column-gap: 10px;
}

.hot-picks-header-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.hot-picks-header-btn:hover {
  background: #bbbbbb;
  color: black;
}

.hot-picks-header-btn mat-icon {
  transform: scale(1);
}

.rounded {
  width: fit-content;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}

.home-section {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 100px;
}

.home-header-section {
  /* min-height: calc(100vh - 64px); */
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 100px;
}

.card-wrapper {
  cursor: pointer;
  width: 400px;
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
  background: #2d2d2d;
  border-radius: 20px;
}

.card-wrapper > div {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.card-wrapper:hover > div {
  background-color: #414141;
}

.intro-header {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2d2d2d;
  border: 10px solid #121212;
  border-radius: 100%;
  margin-bottom: -80px;
  z-index: 1;
}

.intro-header img {
  width: 75px;
  height: 70px;
}

.intro-body {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 149.02%;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
}

.intro-body .title {
  cursor: pointer;
  margin-top: 80px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.content-text {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}

.news-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.news-topic {
  width: calc(50% - 21px);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.news-topic:nth-child(odd) {
  border-right: 1px solid #fff;
}

.news-topic h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  text-transform: capitalize;
  margin-right: 40px;

  color: #ffffff;
}

.news-header-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  text-transform: capitalize;
  margin-right: 40px;
  border-bottom: 5px solid #00c820;
  color: #ffffff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.normal-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* or 33px */
  color: #ffffff;
  margin-right: 40px;
  align-content: center;
}

.btn-sm {
  margin-top: 50px;
  width: 144px;
  margin-right: 40px;
}

@media only screen and (max-width: 1400px) {
  .home-section {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .news-topic {
    width: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
  }

  .news-topic:nth-child(odd) {
    border-right: none;
  }

  .news-topic:last-child {
    border-bottom: none;
  }

  .news-topic h2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 41px;
    text-transform: capitalize;
    margin-right: 0px;

    color: #ffffff;
  }

  .normal-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.02%;
    /* or 33px */
    color: #ffffff;
    margin-right: 0px;
  }

  .btn-sm {
    margin-top: 50px;
    width: 144px;
    margin-right: 0px;
    align-self: center;
    position: fixed;
  }
}
