.home-title {
  width: 511px;
  height: 118px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.home-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 42px;
  color: #ffffff;
}

.home-header {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background-image: url("../../../assets/images/splash_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 60px 80px 0px 80px;
}

.btn-create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 55px;
  margin: 20px 0px 40px 0px;
  border: 3px solid #00c853;
  box-sizing: border-box;
  color: #00c853;
  cursor: pointer;
  background: linear-gradient(to left, transparent 50%, #00c853 100%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.btn-create:hover {
  background-position: left;
  color: white;
}

.btn-create label {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  cursor: pointer;
}

.home-content {
  margin-top: 50px;
  padding: 0px 80px 0px 80px;
}

.item {
  height: 244px;
  width: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  transition: all 0.2s ease-out;
}

.item-actions {
  height: 204px;
  width: 202px;
  padding: 20px 0px 20px 0px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.item-actions-image-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-actions-image {
  height: 164px;
  width: 70%;
  border-radius: 20px;
  cursor: pointer;
}

.item-name {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.item-actions-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.item-icon {
  cursor: pointer;
}

.material-icons-outlined:hover {
  fill: white;
}

.hot-picks {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  width: 100%;
  margin-bottom: 50px;
}

.hot-picks-content {
  min-height: 250px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 10px 20px 10px;
  overflow-x: auto;
}

.hot-picks-header-title {
  color: white;
  font-weight: 600;
  font-size: 25px;
  border-bottom: 5px solid #00c820;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hot-picks-header-actions {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  column-gap: 10px;
}

.hot-picks-header-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.hot-picks-header-btn:hover {
  background: #bbbbbb;
  color: black;
}

.hot-picks-header-btn mat-icon {
  transform: scale(1);
}

.rounded {
  width: fit-content;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}
