<div id="news-main-div" fxLayout="row wrap">
  <form
    class="example-form"
    fxFlex="100%"
    fxLayout="row wrap"
    [formGroup]="controlGroup"
  >
    <div
      id="img-section"
      fxFlex.xl="50%"
      fxFlex.lg="50%"
      fxFlex.lt-lg="100%"
      (click)="triggerClick()"
    >
      <div id="img-upload-area" matTooltip="Upload Image" matRipple>
        <img
          class="ph-img"
          src="../../../../assets/images/img-upload.png"
          *ngIf="base64 === ''"
        />
        <img [src]="base64" *ngIf="base64 !== ''" id="img" />
        <input
          type="file"
          accept="image/*"
          #fileUpload
          (change)="onChange($event)"
          hidden
        />
      </div>
    </div>
    <div
      id="details-section"
      fxFlex.xl="50%"
      fxFlex.lg="50%"
      fxFlex.lt-lg="100%"
    >
      <div class="input-group" fxLayout="row wrap">
        <label
          fxFlex.md="20%"
          fxFlex.lg="20%"
          fxFlex.xl="20%"
          fxFlex.lt-md="100%"
          class="form-label"
          >Topic</label
        >
        <div class="input-field-wrapper" fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.lt-md="100%">
          <input matInput formControlName="topic" />
          <span></span>
        </div>
      </div>
      <div class="input-group" fxLayout="row wrap">
        <label
          fxFlex.md="20%"
          fxFlex.lg="20%"
          fxFlex.xl="20%"
          fxFlex.lt-md="100%"
          class="form-label"
          >Author</label
        >
        <div class="input-field-wrapper" fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.lt-md="100%">
          <input matInput formControlName="author" />
          <span></span>
        </div>
      </div>
      <div class="input-group" fxLayout="row wrap">
        <label
          fxFlex.md="20%"
          fxFlex.lg="20%"
          fxFlex.xl="20%"
          fxFlex.lt-md="100%"
          class="form-label"
          >Date</label
        >
        <div class="input-field-wrapper" fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.lt-md="100%">
          <input matInput formControlName="date" />
          <span></span>
        </div>
      </div>
      <div class="input-group" fxLayout="row wrap">
        <label
          fxFlex.md="20%"
          fxFlex.lg="20%"
          fxFlex.xl="20%"
          fxFlex.lt-md="100%"
          class="form-label"
          >Publisher</label
        >
        <div class="input-field-wrapper" fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.lt-md="100%">
          <input matInput formControlName="publisher" />
          <span></span>
        </div>
      </div>
      <div class="input-group" fxLayout="row wrap">
        <label
          fxFlex.md="20%"
          fxFlex.lg="20%"
          fxFlex.xl="20%"
          fxFlex.lt-md="100%"
          class="form-label"
          >Web Link</label
        >
        <div class="input-field-wrapper" fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.lt-md="100%">
          <input matInput formControlName="webLink" />
          <span></span>
        </div>
      </div>
    </div>
    <div id="hl" fxFlex="100%"></div>
    <div fxFlex="100%" fxLayout="row wrap">
      <label fxFlex="100%" class="form-label">Add a description</label>
      <div class="input-field-wrapper" fxFlex="100%">
        <textarea matInput formControlName="description"></textarea>
        <span></span>
      </div>
    </div>
    <button mat-flat-button class="btn-post" (click)="save()">Post</button>
  </form>
</div>
