<div class="step-main-div">
  <p class="heading">Create a new NFT</p>
  <div class="seperator"></div>
  <form id="mintingForm" [formGroup]="controlGroup">
    <div class="dnd-outer-div" ngStyle.lt-md="width:100%">
      <label
        class="hint"
        style="margin-bottom: 10px"
        fxHide.lt-sm="false"
        fxHide.sm="true"
        fxHide.gt-sm="true"
        ><span class="required">*</span>Required fields</label
      >
      <div fxLayoutAlign="space-between center">
        <label class="normal-text" style="margin-bottom: 10px"
          >Upload SVG<span class="required">*</span></label
        >
        <label
          class="hint"
          style="margin-bottom: 10px"
          fxHide.lt-sm="true"
          fxHide.sm="false"
          fxHide.gt-sm="false"
          ><span class="required">*</span>Required fields</label
        >
      </div>
      <label>Drag and Drop or Browse</label>
      <div
        class="dnd-area"
        id="nft-dnd"
        ngStyle.lt-md="width: calc(100% - 6px)"
        matTooltip="Upload Image"
        (click)="triggerClick()"
      >
      <div id="nft-dnd-ph" class="img-div" *ngIf="!imageSrc">
        <object
        id="nft-dnd-img"
          data="../../../assets/images/img-upload.png"
          style="width: 133px; height: 138px"
          *ngIf="!imageSrc"
        ></object>
      </div>

      <object id="nft-dnd-u-img" [data]="imageSrc" *ngIf="imageSrc" id="img" class="uploaded-img" ></object>

        <input
          type="file"
          accept="image/*"
          #fileUpload
          (change)="onChange($event)"
          hidden
        />
      </div>
      <button mat-icon-button class="code-behind-btn" (click)="openDialog()">
        <img
          src="../../../assets/icons/code-icon.png"
          style="flex-basis: 40%"
        />
      </button>
      <label>or Create SVG with Tracified</label>
      <div class="composer" matRipple ngStyle.lt-sm="width:100%">
        <a href="https://qa.nftcomposer.tracified.com/" target="_blank"
          >Tracified Composer</a
        >

        <mat-icon class="material-symbols-outlined"> open_in_new </mat-icon>
      </div>
    </div>
    <div class="mint-form-group" ngStyle.lt-md="width:100%">
      <label class="normal-text"
        >Name <span class="required">*</span>
        </label
      >
      <mat-form-field appearance="outline">
        <input
          type="text"
          class="input"
          matInput
          name="name"
          formControlName="NFTName"
          placeholder="Enter a name for your NFT."
        />
        <mat-hint>Maximum characters 12</mat-hint>
      </mat-form-field>
    </div>
    <div class="mint-form-group" ngStyle.lt-md="width:100%">
      <label class="normal-text"
        >Description<span class="required">*</span></label
      >
      <mat-form-field appearance="outline" class="description">
        <textarea
          class="textarea"
          matInput
          formControlName="Description"
          maxlength="80"
          placeholder="Provide a detailed description of your NFT."
        ></textarea>
      </mat-form-field>
    </div>
    <div
      class="mint-form-group"
      ngStyle.lt-md="width:100%; margin-bottom: 35px"
    >
      <label class="normal-text"
        >Collection<span class="required">*</span></label
      >
      <mat-form-field appearance="outline" fxHide.md="false" fxHide.gt-md="false" fxShow.lt-md="false">
        <mat-select formControlName="Collection" class="select-bc">
          <mat-select-trigger>
            <label class="collection-dropdown-selected">{{
              controlGroup.controls["Collection"].value
            }}</label>
          </mat-select-trigger>
          <mat-option
            *ngFor="let collection of CollectionList"
            [value]="collection.CollectionName"
            ><label class="collection-dropdown">{{
              collection.CollectionName
            }}</label></mat-option
          >
        </mat-select>
      </mat-form-field>
      <img
        fxHide.md="false" fxHide.gt-md="false" fxShow.lt-md="false"
        ngStyle.lt-md="position: absolute;
        top: 100px;
        left: 0px;
        width: 35px;
        height: 35px;"
        src="../../../assets/images/add.png"
        class="add-btn"
        matRipple
        (click)="openCreateCollection()"
        matTooltip="Create collection"
      />

      <!--for mobile views-->
      <div style="display:flex; flex-direction:row; align-items:center; justify-content: space-between; column-gap: 10px; " fxHide.md="true" fxHide.gt-md="true" fxShow.lt-md="true">
        <mat-form-field appearance="outline" style="flex-grow: 1;">
          <mat-select formControlName="Collection" class="select-bc">
            <mat-select-trigger>
              <label class="collection-dropdown-selected">{{
                controlGroup.controls["Collection"].value
              }}</label>
            </mat-select-trigger>
            <mat-option
              *ngFor="let collection of CollectionList"
              [value]="collection.CollectionName"
              ><label class="collection-dropdown">{{
                collection.CollectionName
              }}</label></mat-option
            >
          </mat-select>
        </mat-form-field>
        <img
          src="../../../assets/images/add.png"
          class="add-btn-sm"
          matRipple
          (click)="openCreateCollection()"
          matTooltip="Create collection"
        />
      </div>
    </div>
    <div
      class="mint-form-group"
      style="margin-top: 15px"
      ngStyle.lt-md="width:100%"
    >
      <label class="normal-text"
        >Choose your Blockchain<span class="required">*</span></label
      >
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="Blockchain"
          disableOptionCentering
          class="select-bc"
          d
        >
          <mat-select-trigger
            *ngIf="controlGroup.controls['Blockchain'].value === 'ethereum'"
          >
            <div class="bc-dropdown-selected">
              <img src="../../../assets/images/ethereum-dd.png" />
              <label>Ethereum</label>
            </div>
          </mat-select-trigger>
          <mat-select-trigger
            *ngIf="controlGroup.controls['Blockchain'].value === 'polygon'"
          >
            <div class="bc-dropdown-selected">
              <img src="../../../assets/images/polygon-dd.png" />
              <label>Polygon</label>
            </div>
          </mat-select-trigger>
          <mat-select-trigger
            *ngIf="controlGroup.controls['Blockchain'].value === 'stellar'"
          >
            <div class="bc-dropdown-selected">
              <img src="../../../assets/images/stellar-dd.png" />
              <label>Stellar</label>
            </div>
          </mat-select-trigger>
          <mat-select-trigger
            *ngIf="controlGroup.controls['Blockchain'].value === 'solana'"
          >
            <div class="bc-dropdown-selected">
              <img src="../../../assets/images/solana-dd.png" />
              <label>Solana</label>
            </div>
          </mat-select-trigger>

          <!--options-->
          <mat-option
            class="option"
            value="ethereum"
            [disabled]="this.ethereum"
          >
            <div class="bc-dropdown">
              <img src="../../../assets/images/ethereum-dd.png" />
              <label>Ethereum</label>
            </div>
          </mat-option>
          <mat-option class="option" value="polygon" [disabled]="this.polygon">
            <div class="bc-dropdown">
              <img src="../../../assets/images/polygon-dd.png" />
              <label>Polygon</label>
            </div>
          </mat-option>
          <mat-option class="option" value="stellar" [disabled]="this.stellar">
            <div class="bc-dropdown">
              <img src="../../../assets/images/stellar-dd.png" />
              <label>Stellar</label>
            </div>
          </mat-option>
          <mat-option class="option" value="solana" [disabled]="this.solana">
            <div class="bc-dropdown">
              <img src="../../../assets/images/solana-dd.png" />
              <label>Solana</label>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="mint-form-group"
      style="margin-top: 15px"
      ngStyle.lt-md="width:100%"
    >
      <label class="normal-text">Tags: </label>
      <mat-form-field class="example-chip-list" appearance="outline">
        <mat-chip-list
          #chipList
          style="position: absolute; top: 15px; left: 10px; right: 10px"
        >
          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{ tag }}
            <button matChipRemove>
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Type here..."
            #tagsInput
            class="input"
            maxlength="10"
            [formControl]="tagCtrl"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-hint class="tags">Maximum tags allowed is 4</mat-hint>
      </mat-form-field>

    </div>
    <div class="mint-form-group margin" ngStyle.lt-md="width:100%">
      <label class="normal-text">Code Profile Link: </label>
      <mat-form-field appearance="outline">
        <input
          type="text"
          class="input"
          matInput
          name="codeforprofile"
          formControlName="NftContentURL"
          placeholder="https://"
        />
      </mat-form-field>
    </div>
    <div class="mint-form-group" ngStyle.lt-md="width:100%">
      <label class="normal-text">Creator Name:</label>
      <mat-form-field appearance="outline">
        <input
          type="text"
          class="input"
          matInput
          name="creatorname"
          formControlName="ArtistName"
          placeholder="Enter name of the creator."
        />
      </mat-form-field>
    </div>
    <div class="mint-form-group" ngStyle.lt-md="width:100%">
      <label class="normal-text">Creator Profile Link:</label>
      <mat-form-field appearance="outline">
        <input
          type="text"
          class="input"
          matInput
          name="profilelink"
          formControlName="ArtistProfileLink"
          placeholder="Enter profile URL of the creator."
        />
      </mat-form-field>
    </div>
    <!-- <div class="mint-form-group" ngStyle.lt-md="width:100%">
      <label class="normal-text">Issuer:</label>
      <mat-form-field appearance="outline">
        <input
          type="text"
          class="input"
          matInput
          name="issuer"
          formControlName="Issuer"
          placeholder="Enter issuer."
        />
      </mat-form-field>
    </div> -->
    <div class="mint-form-group" ngStyle.lt-md="width:100%; display: flex; flex-direction : row;justify-content:center">
      <button mat-flat-button class="btn-create" (click)="getIssuer()">
        Create
      </button>
    </div>
  </form>
</div>
