<div class="step-container">
  <p class="heading">Halfway there...</p>
  <p class="subheading">You are a step away from launching your NFT.</p>
  <div class="seperator"></div>
  <div class="step-content" fxLayout="row wrap">
    <div class="nft-card" fxFlex.lt-md="80%">
      <img class="nft-image" [src]="imageSrc" />
      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        "
      >
        <p class="nft-card-text nft-card-title">{{ mint.NFTName }}</p>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-top: -15px;
        "
      >
        <p class="nft-card-text">
          {{ mint.Description }}
        </p>
      </div>
    </div>
    <div class="nft-mint" fxFlex.lt-md="80%">
      <mat-accordion class="mint2">
        <form [formGroup]="controlGroup">
          <mat-expansion-panel class="panel" #selectbc hideToggle="true">
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title> Choose Your Blockchain </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="!selectbc.expanded">arrow_right</mat-icon>
                <mat-icon *ngIf="selectbc.expanded">arrow_drop_down</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-radio-group
              formControlName="Blockchain"
              aria-label="Select an option"
              class="blockchain-list"
            >
              <mat-radio-button value="ethereum" [checked]="true"
                ><img
                  class="blockchain-logo"
                  src="../../../assets/images/ethereum.png"
                /><label>Ethereum</label></mat-radio-button
              >
              <mat-radio-button value="polygon"
                ><img
                  class="blockchain-logo"
                  src="../../../assets/images/polygon.png"
                /><label>Polygon</label></mat-radio-button
              >
              <mat-radio-button value="stellar"
                ><img
                  class="blockchain-logo"
                  src="../../../assets/images/stellar.png"
                /><label>Stellar</label></mat-radio-button
              >
              <mat-radio-button value="solana"
                ><img
                  class="blockchain-logo"
                  src="../../../assets/images/solana.png"
                /><label>Solana</label></mat-radio-button
              >
            </mat-radio-group>
          </mat-expansion-panel>
          <mat-expansion-panel class="panel" #features hideToggle>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title> Number of Copies </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="!features.expanded">arrow_right</mat-icon>
                <mat-icon *ngIf="features.expanded">arrow_drop_down</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div
              style="
                display: flex;
                flex-direction: row;
                padding: 20px 0px 10px 0px;
                column-gap: 40px;
              "
            >
              <div>
                <label class="label-text" style="font-size: medium"
                  >Amount:</label
                ><br />
                <mat-form-field class="inputs" appearance="outline">
                  <input
                    matInput
                    type="text"
                    formControlName="Copies"
                    max="4"
                    min="0"
                  />
                  <mat-hint
                    style="color: rgba(168, 168, 168, 0.618); font-size: small"
                    >Maximum amount is 4</mat-hint
                  >
                </mat-form-field>
              </div>
              <div>
                <label class="label-text" style="font-size: medium"
                  >Edition:</label
                ><br />

                <span formControlName="Categories" ngDefaultControl>
                  <mat-checkbox class="traits" value="LE"
                    ><label style="color: white"
                      >Limited Edition</label
                    ></mat-checkbox
                  >

                  <mat-checkbox class="traits" value="U"
                    ><label style="color: white">Unique</label></mat-checkbox
                  >

                  <mat-checkbox class="traits" value="NA"
                    ><label style="color: white">N/A</label></mat-checkbox
                  >
                </span>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="panel" #nftdetails hideToggle>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title> Other Information </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="!nftdetails.expanded">arrow_right</mat-icon>
                <mat-icon *ngIf="nftdetails.expanded">arrow_drop_down</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div
              style="
                display: flex;
                flex-direction: column;
                padding: 20px 0px 10px 0px;
                row-gap: 40px;
              "
            >
              <table>
                <tr>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: baseline;
                    "
                  >
                    <label style="width: 40%; font-size: medium">Tags : </label>
                    <mat-form-field
                      class="info"
                      appearance="outline"
                      style="width: 60%"
                    >
                      <input matInput type="text" formControlName="Tags" />
                    </mat-form-field>
                  </div>
                </tr>
                <tr>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: baseline;
                    "
                  >
                    <label style="width: 40%; font-size: medium"
                      >NFT Content URL :
                    </label>
                    <mat-form-field
                      class="info"
                      appearance="outline"
                      style="width: 60%"
                    >
                      <input
                        matInput
                        type="text"
                        formControlName="NftContentURL"
                      />
                    </mat-form-field>
                  </div>
                </tr>
                <tr>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: baseline;
                    "
                  >
                    <label style="width: 40%; font-size: medium"
                      >Artist Name :
                    </label>
                    <mat-form-field
                      class="info"
                      appearance="outline"
                      style="width: 60%"
                    >
                      <input
                        matInput
                        type="text"
                        formControlName="ArtistName"
                      />
                    </mat-form-field>
                  </div>
                </tr>
                <tr>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: baseline;
                    "
                  >
                    <label style="width: 40%; font-size: medium"
                      >Artist Profile Link :
                    </label>
                    <mat-form-field
                      class="info"
                      appearance="outline"
                      style="width: 60%"
                    >
                      <input
                        matInput
                        type="text"
                        formControlName="ArtistProfileLink"
                      />
                    </mat-form-field>
                  </div>
                </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </form>
      </mat-accordion>
      <button class="mint2Button" (click)="getIssuer()" matRipple>
        Proceed
      </button>
    </div>
  </div>
</div>
