.step-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.mat-input-element::placeholder {
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.composer a {
  color: #000000;
  text-decoration: none;
}

.seperator {
  width: 92.5%;
  background-color: #595959;
  border: 1px solid #595959;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

.input {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

.textarea {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

/* default and hover color */
::ng-deep
  .mat-form-field-appearance-outline.example-chip-list
  .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  min-height: 100px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.example-chip-list.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  min-height: 100px;
}

.hint {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(132, 132, 132, 1);
}

#mintingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 48px;
  /* background-color: #8484846b; */
}

.mint-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 7px;
  width: 620px;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #848484;
}

.required {
  color: rgba(215, 85, 85, 1);
}

.dnd-outer-div {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: #10ceac;
  row-gap: 14px;
}

.dnd-area {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 614px;
  height: 306px;
  border: 3px dashed #10ceac;
}

.composer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  width: 271px;
  height: 40px;

  background: #ffffff;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.composer mat-icon {
  transform: scale(0.6);
}

.mint-form-group textarea {
  height: 120px;
  resize: none;
}

/* default and hover color */
::ng-deep
  .mat-form-field-appearance-outline.description
  .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 160px;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.description.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 160px;
}

::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  margin-top: -7px !important;
  color: #848484 !important;
  transition: none !important;
}
/* ::ng-deep mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color: transparent !important;
} */

::ng-deep .mat-select-panel {
  background-color: #2d2d2d !important;
  color: tra !important;
  font-size: 16px !important;
  height: fit-content !important;
}

::ng-deep .mat-option {
  color: red;
}

.add-btn {
  position: absolute;
  top: 43px;
  left: 635px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.add-btn-sm {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.myPanelClass {
  margin-top: 30px !important;
}

.bc-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 18px;
  column-gap: 10px;
}

.bc-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 18px;
  column-gap: 10px;
}

.bc-dropdown-selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 18px;
  column-gap: 10px;
}

.collection-dropdown {
  color: #fff;
  font-size: 18px;
}

.collection-dropdown-selected {
  color: #fff;
  font-size: 18px;
}

.bc-dropdown img {
  width: 30px;
  height: 30px;
}

.bc-dropdown-selected img {
  width: 30px;
  height: 30px;
}

.option {
  display: flex;
  flex-direction: row;
}

.margin {
  margin-top: 55px;
}

.btn-create {
  width: 146px;
  height: 35px;
  background: #10ceac;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;

  color: #000000;
}

.select-bc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  position: absolute;
  top: 0;
}

::ng-deep .mat-select-arrow {
  margin-top: 10px !important;
  vertical-align: middle !important;
  color: #fff !important;
}

#img {
  width: 608px;
  height: 300px;
  z-index: 1000;
}

.img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 608px;
  height: 300px;
}

.code-behind-btn {
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #ffffff;
}

mat-hint {
  color : #fff;
  font-size: 12px;
  margin-top: 2px
}

mat-hint.tags {
  margin-top: 55px;
}

.uploaded-img {
  max-width: 100%;
  overflow: auto;
}
