.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }

  .example-full-width {
    height: 250%;
    width: 400px;
    margin-top: 3%;
    margin-left: 25%;
  }

  

  .mint1Button{
      height:40px;
      width: 15%;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-left: 40%;
      margin-top: -5%;
      background-color: green;
      color: white;
      border-radius: 5%;
  }


  .example-card{
    width: 700px;
    height: 300px;
  }

 .composer{
     width:210px;
     height:260px;
     margin-left: 1px;
     align-items: center;
    justify-content: center;
      display: flex;
      margin-top: -44.5%;
      background-color: gray;
      align-content: center;
   
 }

 .upload-drop-zone{
   margin-left: 150px;
 }

 .link{
   font-size:xx-small;
 }