<div class="step-main-div">
  <label class="heading">Get Started!</label>
  <form id="mintEmail" [formGroup]="controlGroupMint" #mint1Form="ngForm">
    <label class="normal-text center"
      >Enter your email address to get started</label
    >
    <div class="input-group" ngStyle.lt-md="width:100%">
      <div class="input-field-wrapper endrs-input-wrapper">
        <input
          type="email"
          class="input"
          matInput
          name="Email"
          [(ngModel)]="email"
          formControlName="Email"
          placeholder="jane@example.com"
        />
        <span
          [class.invalid-border]="
            (controlGroupMint.get('Email')!.touched || mint1Form.submitted) &&
            controlGroupMint.get('Email')?.errors
          "
        ></span>
      </div>
    </div>
  </form>
  <div class="seperator"></div>
  <p class="normal-text">
    Choose your preferred wallet. <br />If you don't have a wallet yet, you can
    select a provider and create one now.
  </p>

  <div class="wallets" ngStyle.lt-md="width:80%">
    <div
      class="wallet"
      (click)="selectWallet('freighter')"
      ngStyle.lt-md="width:100%"
    >
      <div class="wallet-inner-div">
        <img
          src="../../../assets/images/freighter.png"
          class="wallet-logo"
        /><label class="normal-text">Freighter</label>
      </div>
    </div>
    <div
      class="wallet"
      (click)="selectWallet('albedo')"
      ngStyle.lt-md="width:100%"
    >
      <div class="wallet-inner-div">
        <img
          src="../../../assets/images/albedo.png"
          class="wallet-logo"
        /><label class="normal-text">Albedo</label>
      </div>
    </div>
    <div class="wallet" ngStyle.lt-md="width:100%" disabled="true">
      <div class="wallet-inner-div">
        <img
          src="../../../assets/images/metamask.png"
          class="wallet-logo"
        /><label class="normal-text">Metamask</label>
      </div>
    </div>

    <div class="wallet" ngStyle.lt-md="width:100%" disabled="true">
      <div class="wallet-inner-div">
        <img
          src="../../../assets/images/phantom.png"
          class="wallet-logo"
        /><label class="normal-text">Phantom</label>
      </div>
    </div>
  </div>
</div>
