.step-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input {
  caret-color: #fff;
  font-size: 18px;
  margin-top: -4px;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.seperator {
  width: 100%;
  background-color: #595959;
  border: 1px solid #595959;
  margin-top: 30px;
  margin-bottom: 30px;
}

::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -7px !important;
  color: #848484 !important;
  transition: none !important;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
  transition: none !important;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

#mintEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  row-gap: 22px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 15px;
  width: 600px;
}

.wallets {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  margin-top: 30px;
}

.wallet {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 522px;
  height: 53px;
  background: #2d2d2d;
  transition: box-shadow 0.1s ease-in;
}

.wallet:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wallet:first-child {
  border-radius: 10px 10px 0px 0px;
}

.wallet:last-child {
  border-radius: 0px 0px 10px 10px;
}

.wallet-inner-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  width: 148px;
}

.wallet label {
  cursor: pointer;
}

.wallet-logo {
  vertical-align: middle;
  height: 25px;
  width: 25px;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #848484;
}

.center {
  text-align: center;
}

.normal-text {
  margin-right: 0px;
  line-height: 33px;
}

.commingsoon {
  border: 1px solid #848484;
  border-radius: 8px;
  padding: 3px;
  color: #848484;
}
