<mat-drawer-container
  (backdropClick)="closeWalletSidenav()"
  fxLayout="column"
  style="background: transparent"
>
  <mat-drawer
    #drawer
    class="wallet-sidebar"
    mode="over"
    [opened]="opened"
    position="end"
    (keydown.escape)="closeWalletSidenav()"
    disableClose
  >
    <app-wallet></app-wallet>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet> </router-outlet>
    <button id="backToTop" matTooltip="Back to Top" [class.show-back-to-top]="backTopVisible" (click)="goToTop()" matRipple>
      <mat-icon class="material-symbols-outlined">
        expand_less
      </mat-icon>
    </button>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
