<div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
<div class="dialog-header">
  <label mat-dialog-title>{{ data?.title }}</label>
</div>
<mat-dialog-content>
  <div class="dialog-content">{{ data?.message }}</div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
  <button mat-dialog-close class="dialog-btn-secondary" matRipple>
    {{ data?.cancelText }}
  </button>
  <button cdkFocusInitial class="dialog-btn-primary" matRipple>
    {{ data?.confirmText }}
  </button>
</mat-dialog-actions>
