
<div align="center" class="header">
    <h2  mat-dialog-title style="text-align: center;">{{data?.title}}</h2>
    <div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
</div>

<div align="left" mat mat-dialog-content>
    {{data?.message}}
</div>

<div align="left" matDialogActions>
    <button mat-raised-button class="dialog-btn-secondary" [mat-dialog-close]="false">{{data?.cancelText}}</button>
    <button mat-raised-button class="dialog-btn-primary" [mat-dialog-close]="true">{{data?.confirmText}}</button>
</div>