.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
}

.mat-input-element::placeholder {
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
  transition: none !important;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background: #2d2d2d;
  border-radius: 16px;
  width: 100%;
  height: 58px;
}

.dropdown {
  width: 600px !important;
  margin-bottom: 10px;
}

.block {
  width: 100px;
}
.example-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-full-width {
  height: 250%;
  width: 100%;
  max-width: 600px;
  margin-top: 1%;
}

.mint1Button {
  height: 40px;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 40%;
  margin-top: -5%;
  background-color: green;
  color: white;
  border-radius: 5%;
}

.example-card {
  width: 700px;
  height: 350px;
  background: transparent;
  color: white;
  border: 3px solid #10ceac;
  border-radius: 20px;
}

.txtbox {
  border: 2px solid white;
  padding: 10px;
  color: white;
}

#collectionbtn {
  border: 2px solid white;
  width: 650px;
  margin-left: 30px;
  font-size: 22px;
}

#collectionbtn:hover {
  background-color: #10ceac;
  transition: 0.5s;
}

.upload-drop-zone {
  margin-left: 150px;
}



.registration-header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.registration-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-create-col {
  background: #10ceac;
  color: black;
  font-size: medium;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.back {
  transform: scale(1.6);
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.reg-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

::placeholder {
  color: #686868;
  opacity: 1;
}

.form-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-label {
  font-size: 20px;
}
