<div class="main-div">
  <div class="cont-wrapper">
    <div class="registration-header">
      <mat-icon class="back" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <label class="reg-heading">Get Endorsed Now</label>
      <!-- <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <h1 style="font-size: 40px">Get Endorsed Now!</h1> -->
    </div>
  </div>

  <div class="registration-content">
    <form class="example-form" [formGroup]="controlGroup" #regForm="ngForm">
      <!-- <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="{{ signerPK }}"
            formControlName="userId"
          />
        </mat-form-field>
      </div> -->
      <div class="form-input-group">
        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="{{this.mail}}"

          />
        </mat-form-field> -->
        <mat-label class="email-label"
          >Your email is : {{ this.mail }}</mat-label
        >
      </div>
      <div class="form-input-group">
        <label class="normal-text endrs-input-wrapper">Name: </label>
        <div class="input-field-wrapper endrs-input-wrapper">
          <input
            matInput
            placeholder="John Doe"
            formControlName="Name"
            class="input"
          />
          <span
            [class.invalid-border]="
              (controlGroup.get('Name')!.touched || regForm.submitted) &&
              controlGroup.get('Name')?.errors
            "
          ></span>
        </div>
      </div>

      <div class="form-input-group">
        <label class="normal-text endrs-input-wrapper">Country: </label>
        <mat-form-field class="country-input-wrapper" appearance="outline">
          <mat-select
            formControlName="Country"
            class="select-bc"
            value="Japan"
            placeholder="Select Country"
            disableOptionCentering
            panelClass="dropdown-panel-class"
            [(ngModel)]="country"
            (ngModelChange)="countryChange()"
          >
            <mat-select-trigger *ngIf="country != undefined">
              <label class="collection-dropdown-selected">
                {{ country.name }}
              </label>
            </mat-select-trigger>
            <mat-option
              [value]="country"
              name="type"
              *ngFor="let country of countries"
              ><label class="collection-dropdown">{{
                country.name
              }}</label></mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-input-group">
        <label class="normal-text endrs-input-wrapper">Contact Number: </label>
        <div class="input-field-wrapper endrs-input-wrapper">
          <input
            maxlength="15"
            matInput
            placeholder="+18143514239"
            formControlName="Contact"
            class="input"
          />
          <span
            [class.invalid-border]="
              (controlGroup.get('Contact')!.touched || regForm.submitted) &&
              controlGroup.get('Contact')?.errors
            "
          ></span>
        </div>
      </div>
      <div class="form-input-group">
        <label class="normal-text endrs-input-wrapper">Description: </label>
        <div class="input-field-wrapper endrs-input-wrapper">
          <input
            matInput
            placeholder="Tell us about yourself/your company."
            formControlName="Description"
            class="input"
          />
          <span
            [class.invalid-border]="
              (controlGroup.get('Description')!.touched || regForm.submitted) &&
              controlGroup.get('Description')?.errors
            "
          ></span>
        </div>
      </div>
    </form>
    <div
      style="
        margin-top: 20px;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      "
    >
      <button mat-flat-button class="btn-create-col" (click)="save()">
        Get Endorsed Now
      </button>
    </div>
  </div>
</div>
