<div class="main-div">
  <div class="cont-wrapper">
    <div class="registration-header">
      <mat-icon class="back" matTooltip="Back" (click)="back()">arrow_back</mat-icon>
      <label class="reg-heading">Get Endorsed Now</label>
      <!-- <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <h1 style="font-size: 40px">Get Endorsed Now!</h1> -->
    </div>
  </div>

  <div class="registration-content">
    <form class="example-form" [formGroup]="controlGroup">
      <!-- <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="{{ signerPK }}"
            formControlName="userId"
          />
        </mat-form-field>
      </div> -->
      <div class="form-input-group">
        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="{{this.mail}}"

          />
        </mat-form-field> -->
        <mat-label class="email-label">Your email is : {{ this.mail }}</mat-label>
      </div>
      <div class="form-input-group">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="Your Name"
            formControlName="Name"
            class="input"
          />
        </mat-form-field>
      </div>

      <div class="form-input-group">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="Your Contact Number"
            formControlName="Contact"
            class="input"
          />
        </mat-form-field>
      </div>
      <div class="form-input-group">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="Description About Yourself/ Your Company"
            formControlName="Description"
            class="input"
          />
        </mat-form-field>
      </div>
    </form>
    <div
      style="
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      "
    >
      <button mat-flat-button class="btn-create-col" (click)="save()">
        Get Endorsed Now
      </button>
    </div>
  </div>
</div>
