@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.endrs-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.example-full-width {
  height: 100%;
  width: 600px;
}

.mat-card-content {
  width: 100%;
}

.main-div.mat-card-content {
  max-width: 200px;
  max-height: 100px;
}

.example-card {
  width: 700px;
  height: 300px;
}

.mint3Button {
  height: 40px;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30%;
  background-color: green;
  color: white;
  border-radius: 5%;
}

.mint {
  margin-left: 5%;
}

.example-card {
  box-sizing: border-box;

  position: absolute;
  width: 797px;
  height: 429px;
  left: 563px;
  top: 304px;

  border: 3px solid #10ceac;
  border-radius: 20px;
  background: transparent;
  color: white;
}
.svgimg {
  border: 3px solid #feffff;
  border-radius: 20px;
  background: white;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background: #ffffff;
  border-radius: 20px;
  color: black;

  /* width: 803.25px; */
  min-height: 65px;
  margin-top: -4px;
  width: 100.75%;
  margin-left: -3px;
}

.nft-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
}

.info-title {
  font-weight: 400;
  font-size: 16px;
}

.info-detail {
  font-weight: 700;
  font-size: 24px;
}

.btn-submit {
  background: #10ceac;
  color: black;
  font-size: medium;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
}

.btn-decline {
  background: #232323;
  color: #fff;
  font-size: medium;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px 5px 5px 0px;
  font-size: 36px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #52d65f;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #79ec85;
}

.userRating-form {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  row-gap: 30px;
}

.userRating-full-width {
  width: 100%;
}
.rating-text {
  font-size: 20px;
}

.label-title {
  color: #10ceac;
  font-weight: 700;
  font-size: 16px;

  margin-right: 60px;
}

.label-data {
  max-width: 50px;
  word-break: break-all;
}

::placeholder {
  color: #686868;
  opacity: 1;
}
.decline-btn {
  background: #232323;
  border-radius: 20px;
  color: #ffffff;
  width: 117px;
}
.accept-btn {
  background: #10ceac;
  border-radius: 20px;
  margin-right: 10px;
  width: 117px;
}
.endorsment-answer {
  width: 100%;
}

.endrs-wrapper {
  margin: 0px 75px 0px 75px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.endrs-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.txtarea-input-group {
  overflow: hidden;
  width: 100%;
  background: #2d2d2d;
  border-radius: 20px;
  transition: 0.15s ease;
}

.txtarea-input-group textarea {
  padding: 10px;
  font-size: 14px;
  width: 95%;
  margin: 10px;
  height: 125px;
  background: transparent;
  border: none;
  color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background-color: #2d2d2d;
  border-radius: 16px;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background-color: #2d2d2d;
  border-radius: 16px;
}

.txtarea-input-group textarea:focus {
  outline: none;
}

.example-full-width textarea {
  height: 175px;
}

@media screen and (max-width: 600px) {
  .endrs-main-div {
    padding-top: 80px;
  }
  .endrs-wrapper {
    margin: 0px 35px 0px 35px;
  }
}
