<div class="card-parent" (click)="goToNfts($event)" matRipple>
  <div class="thumbnail-wrapper">
    <img
      [src]="thumbnail"
      class="thumbnail"
      alt=" "
      onerror="this.onerror=null;this.src='../../../assets/images/explore-default-thumb.png'"
    />
  </div>

  <div class="title-div">
    <div class="title-wrapper">
      <label class="title">{{ data.CollectionName }}</label>
      <mat-icon
        [matMenuTriggerFor]="menu"
        *ngIf="isUserProfile"
        id="more-icon"
        class="material-symbols-outlined more-vert"
        matRipple
      >
        more_vert
      </mat-icon>
      <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item class="menu-btn" (click)="changeVisibility()">
          <span class="menu-text">Change Visibility</span>
        </button>
      </mat-menu>
    </div>

    <label class="nft-count">{{ data.nftcount }} NFTs</label>
  </div>
  <button class="btn-view-collection">
    <img class="eye-icon" src="../../../assets/images/view.png" />View
    Collection
  </button>
</div>
