.card-parent {
  cursor: pointer;
  position: relative;
  width: 293px;
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
  background-color: #ffffff0d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
  height: 293px;
  transition: transform 0.2s;
}

.thumbnail-wrapper {
  position: relative;
  width: 100%;
  height: 293px;
  overflow: hidden;
}

.title-div {
  cursor: pointer;
  height: 62px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
  padding: 0px 15px 0px 15px;
  background-color: #ffffff0d;
}

.title-wrapper {
  position: relative;
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #10ceac;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-vert {
  margin-right: -10px;
}

.nft-count {
  cursor: pointer;
  max-width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-view-collection {
  cursor: pointer;
  height: 46px;
  width: 100%;
  border: none;
  background-color: #ffffff0d;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: all 0.1s ease-out allow-discrete;
}

.eye-icon {
  width: 18px;
  height: 14px;
  transition: all 0.1s ease-out allow-discrete;
}

.card-parent:hover .btn-view-collection {
  color: black;
  font-weight: 600;
  background-color: #10ceac;
}

.card-parent:hover .thumbnail {
  transform: scale(1.1);
}

.card-parent:hover .eye-icon {
  filter: invert(1);
}

.menu-text {
  margin: -50px 0px -50px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 208.02%;
  /* or 23px */
  color: #fff;
}

.mat-menu-item {
  line-height: 30px;
  height: 30px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #121212 !important;
}

::ng-deep.menu .mat-menu-content:not(:empty) {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #121212 !important;
}

::ng-deep.mat-menu-panel {
  min-height: 10px !important;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #121212 !important;
}
