<div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
<div class="dialog-header">
  <div class="dialog-header-cont">
    <label class="dialog-title">{{data?.promtHeading}}</label>
    <label class="nft-name">{{data?.nftName}} </label>
  </div>
  <div class="dialog-header-cont">
    <img [src]="data?.thumbnail" class="nft-thumb" />
  </div>

</div>
<mat-dialog-content>
  <div class="dialog-content">
    <div class="fee-cont">
      <label>{{data?.feeTypeName}}
      </label>
      <label>{{data?.serviceFee}} {{currency}} ({{serviceFeeUSD}} USD) </label>
    </div>
    <div class="fee-cont">
      <label>{{data?.royalty}}</label>
      <label>{{data?.royaltyfee}} {{currency}} ({{royaltyUSD}} USD) </label>
    </div>
    <div class="fee-cont">
      <label>Suggested Offer</label>
      <label>{{data?.total}} {{currency}} ({{totalUSD}} USD) </label>
    </div>
    <div class="fee-cont">
      <label><b>{{data?.grandTotal}}</b><mat-icon matTooltip="Please note that Tracified charges a commission fee for utilizing our marketplace to list NFTs for sale, while the NFT owner is entitled to claim royalties" class="info-icon">info</mat-icon></label>
      <label><b>{{data?.grandTotalfee}} {{currency}}</b> ({{gtotalUSD}} USD) </label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox"  (change)="onCheckedChange($event)" />
      <label>I accept the <a href="#" class="highlight">Terms of Service</a> for using this service, and hereby
        confirm I have read the <a href="#" class="highlight">Privacy Policy.</a></label>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
<!--   <button
    mat-dialog-close
    class="dialog-btn-secondary"
    (click)="cancel()"
    matRipple
  >
    {{ data?.cancelText }}
  </button> -->
  <button
    cdkFocusInitial
    class="dialog-btn-primary"
    [disabled]="!acceptEnabled"
    (click)="confirm()"
    matRipple
  >
    {{data?.buttonAction}}
  </button>
</mat-dialog-actions>

