<div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
<div class="dialog-header">
  <label mat-dialog-title>Create Collection</label>
</div>
<mat-dialog-content>
  <div class="dialog-content">
    <form class="example-form" [formGroup]="controlGroup">
      <div class="mint-form-group">
        <label>Your Email<span class="required">*</span></label>
        <div class="input-field">
         <mat-label>{{this.mail}}</mat-label>
        </div>
      </div>
      <div class="mint-form-group">
        <label>Name of Collection<span class="required">*</span></label>
        <div class="input-field">
          <input matInput type="text" formControlName="collectionName" />
        </div>
      </div>
      <div class="mint-form-group">
        <label>Name of Organization<span class="required">*</span></label>
        <div class="input-field">
          <input matInput type="text" formControlName="organizationName" />
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
  <button cdkFocusInitial class="dialog-btn-primary" (click)="save()" matRipple>
    Create
  </button>
</mat-dialog-actions>

<!-- <div class="main-div">
  <div class="collection-header">
    <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
      >arrow_back</mat-icon
    >
    <h1 style="font-size: 40px">Create Collection</h1>
    <h3 style="font-size: 22px">Create a collection for your NFTs.</h3>
  </div>
  <div class="collection-content">
    <form class="example-form" [formGroup]="controlGroup">
      <div>
        <label>Enter your Email</label><br />
        <mat-form-field appearance="outline" class="example-full-width">
          <input matInput formControlName="userId" />
        </mat-form-field>
      </div>
      <div>
        <label>Name of Collection</label><br />
        <mat-form-field appearance="outline" class="example-full-width">
          <input matInput formControlName="collectionName" />
        </mat-form-field>
      </div>
      <div>
        <label>Name of Organization</label><br />
        <mat-form-field appearance="outline" class="example-full-width">
          <input matInput formControlName="organizationName" />
        </mat-form-field>
      </div>
    </form>
    <div
      style="
        width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      "
    >
      <mat-icon
        style="
          float: right;
          margin-right: 10px;
          color: #d94d4d;
          cursor: pointer;
          transform: scaleX(-1);
        "
        matTooltip="Reset"
        (click)="resetValues()"
        >refresh</mat-icon
      >
      <button mat-flat-button class="btn-create-col" (click)="save()">
        Create Now
      </button>
      <button mat-flat-button class="btn-create-col" (click)="done()">
        Done
      </button>
    </div>
  </div>
</div>
 -->
