::ng-deep .mat-dialog-container {
  border-radius: 16px !important;
}

.dialog-header {
  position: relative;
  text-align: center;
}

.dialog-header label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2d2d2d;
}

.dialog-content {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  color: #232323;
  margin-bottom: 15px;
}

.dialog-actions {
  column-gap: 20px;
  margin-bottom: 7px !important;
}

.close-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -10px -10px 0px 0px;
}

.close-div mat-icon {
  cursor: pointer;
  transform: scale(0.9);
}

.close-div mat-icon:hover {
  color: black;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 20px;
  /* background-color: #8484846b; */
}

.mint-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  background: #e2e2e2;
  border-radius: 16px;
  width: 100%;
  height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  row-gap: 5px;
}

.input-field mat-label {
  width: 95%;
  text-align: left;
  color: rgb(167, 167, 167);
}

.input-field input {
  height: 40px;
  color: #000;
  width: 95%;
  font-size: 18px;
  border: none;
}

.required {
  color: rgba(215, 85, 85, 1);
}
