<p>create-collection works!</p>
<div class="main-div">

    <mat-card class="example-card">
      <mat-card-header>
       Create a Collection Now!
      </mat-card-header>
      <mat-card-content>
          
        <form class="example-form" [formGroup]="controlGroup">
           
          <table class="example-full-width" cellspacing="0">
            <tr>
              <mat-form-field class="dropdown block" appearance="fill">
                <mat-label style="padding-left:5px ;font-family: 'Inter';font-style: normal; font-weight: 400; font-size: medium; line-height: 27px; color: #000000;">
                  Choose the Blockchain for your account
                </mat-label>
                <mat-select formControlName="blockchain" >
                  <mat-option value="metamask">Ethereum</mat-option>
                  <mat-option value="metamask">Polygon</mat-option>
                  <mat-option value="freighter">Stellar</mat-option>
                  <mat-option value="phantom">Solana</mat-option>
                </mat-select>
              </mat-form-field>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Temporary PK" formControlName="userId" class="txtbox" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name of Collection" formControlName="collectionName" class="txtbox" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Name of Organization" formControlName="organizationName" class="txtbox" >
                </mat-form-field>
              </td>
            </tr>
        </table>
        </form>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="save()" id="collectionbtn">Create Now!</button>
      </mat-card-actions>
<p>Your collection for {{selectVal}} has been created!</p>
    </mat-card>
  </div>
