<div class="explore-parent">
    <div class="explore-container">
      <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <h1 style="font-size: 40px">Explore your NFTS</h1>
      <div class="explore-content" fxLayout="row wrap">
        <div
          class="nft-item"
          *ngFor="let item of List"
          (click)="seeNFT(item.NFTIdentifier,item.SellingStatus,item.Blockchain)"
        >
         <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
          <img class="nft-img" [src]="item.ImageBase64" />
          <div class="nft-title" >{{ item.NFTName }}</div>
        </div>
      </div>
    </div>
  </div>