.container {
  width: 100%;
  margin-top: 65px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #fff;
}

.about-heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.about-us-header {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back {
  transform: scale(1.6);
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.about-us-img-cont {
  margin-top: 55px;
  width: 100%;
}

.about-us-img-cont img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.about-us-text {
  text-align: start;
  font-size: 16px;
}

.links-cont {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  row-gap: 80px;
  flex-wrap: wrap;
}

.link-section {
  max-width: 350px;
}

.link-section p {
  text-align: start;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 22px;
}

.link-section h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 29px;
  /* identical to box height */


  color: #10CEAC;
}

.link-section button {
  background: #10CEAC;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  padding: 5px 15px 5px 15px;
}
