<div class="container">
  <div class="switch-wrapper cont-wrapper">
    <div class="switch">
      <input
        id="language-toggle"
        class="check-toggle check-toggle-round-flat"
        type="checkbox"
        (change)="toggleLang($event)"
      />
      <label for="language-toggle"></label>
      <span class="on">EN</span>
      <span class="off">JP</span>
    </div>
  </div>
  <div class="about-us-header cont-wrapper">
    <mat-icon class="back" matTooltip="Back" (click)="goBack()"
      >arrow_back</mat-icon
    >
    <label class="about-heading" [innerHTML]="text5"></label>
  </div>
  <div class="about-us-img-cont">
    <img src="../../../assets/images/nft-mp-web-about-us.png" />
  </div>
  <div class="cont-wrapper" style="margin-top: 60px">
    <p
      id="contentText"
      class="normal-text about-us-text"
      [innerHTML]="text0"
    ></p>
  </div>
  <div class="links-cont cont-wrapper">
    <div class="link-section">
      <h2 [innerHTML]="text1"></h2>
      <p class="normal-text" [innerHTML]="text2"></p>
      <button mat-button (click)="docs()">Visit Documentation</button>
    </div>
    <div [class.link-section-2]="jpToggled" [class.link-section]="!jpToggled">
      <h2 [innerHTML]="text3"></h2>
      <p class="normal-text" [innerHTML]="text4"></p>
      <button mat-button (click)="tracified()">Visit Tracified</button>
    </div>
  </div>
</div>
