@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#outer-container{
  height:100%;
  width: 100%;
  background-image: url("../../assets/images/reviews-bg.png");
  background-size: 100% ;  
  background-size: cover; 
  color: white;
}
.container {
  position: relative;
  float: right;
  padding: 30px;
  width:540px;
  height:370px;
  margin-right: 200px;
  margin-top: 200px;
  background-color: black;
 
}
.submitbtn{
  position: relative;
  margin-left:250px;
  width: 190px;
}



fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px;}
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 5.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.userRating-form {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
  margin-left:50px;
}

.userRating-full-width {
  width: 100%;
}
.rating-text{
  font-size:20px;
}

#txtarea{
    background-color: rgb(153, 150, 150);
    margin-bottom: 10px;
}
#submitbtn{
    padding: 5px;
    width: 300px;
    margin-left: 70px;
    background-color: #E0B210;
    color: black;
}