<div class="overview-main-div">
  <div class="overview-main-wrapper">
    <div
      class="overview-picks-header"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <div class="overview-picks-header-title" fxFlex.lt-sm="100%" id="hotpick">
        My Collections
      </div>
    </div>
    <div class="explore-content cont-wrapper" fxLayout="row wrap">
      <div class="cont-inner" *ngIf="collections.length > 0">
        <div *ngFor="let collection of collections; index as i">
          <app-collection-card
            *ngIf="i !== collections.length - 1"
            [data]="collection"
            [key]="key"
            [selectedblockchain]="selectedblockchain"
          ></app-collection-card>

          <app-collection-card
            #theLastItem
            *ngIf="i === collections.length - 1"
            [data]="collection"
            [key]="key"
            [selectedblockchain]="selectedblockchain"
          ></app-collection-card>
        </div>
        
        <div class="cont-inner" *ngIf="loading || nextPageLoading">
          <app-nft-card-skeleton
            *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]"
          ></app-nft-card-skeleton>
        </div>
      </div>
      
      <div
      class="explore-no-content"
      *ngIf="!loading && !nextPageLoading && collections.length === 0"
    >
      <img src="../../../assets/images/no-nfts.svg" />
      <label>No Collections Found</label>
    </div>
    </div>
  </div>
</div>
