<div class="explore-parent">
  <div class="explore-container">
    <div class="explore-header cont-wrapper">
      <mat-icon class="back" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <label class="explore-heading">Explore NFTs - {{ title }}</label>
    </div>
    <div style="margin-top: 10px" fxFlexLayout="row wrap" fxFlexAlign="center">
      <img
        style="
          vertical-align: middle;
          margin-right: 10px;
          transform: scale(1.1);
        "
        [src]="'../../../assets/images/' + blockchain + '.png'"
      />
      <label style="font-size: 18px">{{
        blockchain.charAt(0).toUpperCase() + blockchain.slice(1)
      }}</label>
    </div>
    <div class="explore-content cont-wrapper" fxLayout="row wrap">
      <div class="cont-inner" *ngIf="!loading && List.length > 0">
        <div *ngFor="let item of List; index as i">
          <app-nft-card
            *ngIf="i !== List.length - 1"
            [item]="item"
            [itemId]="i.toString()"
            [blockchain]="item.Blockchain"
            [creatoruserid]="item.CreatorUserId"
            [sellingstatus]="item.SellingStatus"
            [currentownerpk]="item.CurrentOwnerPK"
          ></app-nft-card>

          <!--last item-->
          <app-nft-card
            *ngIf="i === List.length - 1"
            [item]="item"
            [itemId]="i.toString()"
            [blockchain]="item.Blockchain"
            [creatoruserid]="item.CreatorUserId"
            [sellingstatus]="item.SellingStatus"
            [currentownerpk]="item.CurrentOwnerPK"
            #theLastItem
          ></app-nft-card>
        </div>
      </div>
      <div class="cont-inner" *ngIf="loading || nextPageLoading">
        <app-nft-card-skeleton
          *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7]"
        ></app-nft-card-skeleton>
      </div>
      <div
        class="explore-no-content"
        *ngIf="!loading && !nextPageLoading && List.length === 0"
      >
        <img src="../../../assets/images/no-nfts.svg" />
        <label>No NFTs Found</label>
      </div>
    </div>
  </div>
</div>
