<p>reset-profile works!</p>
<div class="main-div">

    <mat-card class="example-card">
      <mat-card-header>
       Get Endorsed Now!
      </mat-card-header>
      <mat-card-content>
          
        <form class="example-form" [formGroup]="controlGroup">
           
          <table class="example-full-width" cellspacing="0">
            <tr>
              <mat-form-field class="dropdown block" appearance="fill">
                <mat-label style="padding-left:5px ;font-family: 'Inter';font-style: normal; font-weight: 400; font-size: medium; line-height: 27px; color: #000000;">
                  Choose the Blockchain for your account
                </mat-label>
                <mat-select formControlName="Blockchain" >
                  <mat-option value="metamask">Ethereum</mat-option>
                  <mat-option value="metamask">Polygon</mat-option>
                  <mat-option value="freighter">Stellar</mat-option>
                  <mat-option value="phantom">Solana</mat-option>
                </mat-select>
              </mat-form-field>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder={{signerPK}} formControlName="userId" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder={{profileList.Name}} formControlName="Name" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder={{profileList.Email} formControlName="Email" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder={{profileList.Contact} formControlName="Contact" >
                  </mat-form-field>
                </td>
              </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder={{profileList.Description} formControlName="Description" >
                  </mat-form-field>
                </td>
              </tr>
        </table>
        </form>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="update()">Update Profile!</button>
      </mat-card-actions>
    </mat-card>
  </div>
