<p>view-nft-card works!</p>
<div class="main-div">

  <mat-card class="example-card" >
    <mat-card-header>
      <div class="navbar">
        <button class="viewnftnavbtn" mat-button (click)="sendToSellNFT()"> Put to Sale</button>
        <button class="viewnftnavbtn" mat-button [routerLink]="'/create-account'"> Explore </button>
        <button class="viewnftnavbtn" mat-button [routerLink]="'/getNft'"> View NFT </button>
        <button class="viewnftnavbtn" mat-button [routerLink]="'/createblog'"> Make NFT Story </button>
      </div>
      <mat-card-content class="svgArea">
        <table style="width:100%;height:100%">
          <tr>
            <td>
             <img class="svgimg" [src]="imageSrc" *ngIf="imageSrc" style="height: 80%; width: 100%;padding:3px">
            </td> 
            </tr>
        </table>
      </mat-card-content>
    </mat-card-header>
    <mat-card-content class="mint">
      <table>
       <td>Creator: 

       </td> <td><mat-label >
           {{NFTList.OriginPK}} 
          </mat-label></td>
        <tr>
        <td> Issuer: </td><td><mat-label  >
           {{NFTList.InitialIssuerPK}} 
          </mat-label></td>
        </tr>
        <tr>
          <td> NFT TXN Hash: </td><td><mat-label  >
             {{NFTList.NFTTXNhash}} 
            </mat-label></td>
          </tr>
        <tr>
        <td>Blockchain: </td><td><mat-label >
           {{NFTList.NftIssuingBlockchain}} 
          </mat-label></td>
        </tr>
        <tr>
        <td>  NFT Name: </td><td><mat-label >
           {{NFTList.NftContentName}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Collection:</td><td> <mat-label  >
           {{NFTList.Collection}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Description:</td><td> <mat-label  >
           {{NFTList.Description}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Category: </td><td><mat-label >
           {{NFTList.Categories}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Amount:</td><td> <mat-label >
           {{NFTList.Copies}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> More on the NFT: </td><td><mat-label >
           {{NFTList.NftContent}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Artist Name: </td><td><mat-label>
           {{NFTList.NFTArtistName}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> More on the Artist: </td><td><mat-label >
           {{NFTList.NFTArtistURL}} 
          </mat-label></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-accordion class="mint2" class="svgcontent">
      <mat-expansion-panel class="svgcontent">
        <mat-expansion-panel-header>
          <mat-panel-title class="svgcontent2">
           See NFT Image Content
          </mat-panel-title>
        </mat-expansion-panel-header>
        
    <table >
      <tr>
       
            <span  ngDefaultControl>
              <td><mat-label >
                {{Decryption}} 
               </mat-label></td>
          </span>
       
      </tr>
        </table>
     
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

</div>
