<p>view-nft-card works!</p>
<div class="main-div">

  <mat-card class="example-card" >
    <mat-card-header>
      <div class="navbar">
        <button mat-button (click)="sendToSellNFT()"> Put to Sale</button>
        <a mat-button [routerLink]="'/create-account'"> Explore </a>
        <a mat-button [routerLink]="'/getNft'"> View NFT </a>
     
      
      </div>
    </mat-card-header>
    <mat-card-content class="mint">
      <table >
        <tr>
       <td>
        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 310px; width: 250px; margin-bottom: -50px; margin-left: 50px;">
       </td>  <td>Creator: </td> <td><mat-label >
           {{NFTList.OriginPK}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Issuer: </td><td><mat-label  >
           {{NFTList.InitialIssuerPK}} 
          </mat-label></td>
        </tr>
        <tr>
          <td> NFT TXN Hash: </td><td><mat-label  >
             {{NFTList.NFTTXNhash}} 
            </mat-label></td>
          </tr>
        <tr>
        <td>Blockchain: </td><td><mat-label >
           {{NFTList.NftIssuingBlockchain}} 
          </mat-label></td>
        </tr>
        <tr>
        <td>  NFT Name: </td><td><mat-label >
           {{NFTList.NftContentName}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Collection:</td><td> <mat-label  >
           {{NFTList.Collection}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Description:</td><td> <mat-label  >
           {{NFTList.Description}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Category: </td><td><mat-label >
           {{NFTList.Categories}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Amount:</td><td> <mat-label >
           {{NFTList.Copies}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> More on the NFT: </td><td><mat-label >
           {{NFTList.NftContent}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> Artist Name: </td><td><mat-label>
           {{NFTList.NFTArtistName}} 
          </mat-label></td>
        </tr>
        <tr>
        <td> More on the Artist: </td><td><mat-label >
           {{NFTList.NFTArtistURL}} 
          </mat-label></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-accordion class="mint2">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           See NFT Image Content
          </mat-panel-title>
        </mat-expansion-panel-header>
        
    <table >
      <tr>
       
            <span  ngDefaultControl>
              <td><mat-label >
                {{Decryption}} 
               </mat-label></td>
          </span>
       
      </tr>
        </table>
     
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

</div>
