.dsb-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  color: white;
  border-top: 1px solid #242424;
}

.sidenav-container {
  width: 100%;
  background-color: transparent;
  color: #fff;
  height: calc(100vh - 61px);
}

.dsb-drawer {
  background-color: #2b2b2b !important;
  color: #fff;
  width: 400px;
  max-width: 100%;
  padding: 20px;
}

.dsb-content {
  display: flex;
  flex-direction: column;
}

#drawerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#btn-sidenav-toggle {
  float: right;
  cursor: pointer;
}

#profile-img {
  margin-bottom: 30px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

#profile-cont {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#navlist {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

::ng-deep .mat-list-item.nav-list-item {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  width: 290px !important;
}

::ng-deep .mat-list-item.nav-list-item :hover {
  border-radius: 10px;
  color: #000;
  background-color: #80cca3 !important;
}

.active-item {
  color: #000;
  background-color: #80cca3;
}

.nav-list-item label {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: #80cca3 !important;
}
