.nft-item {
  position: relative;
  width: 295px;
  max-width: 100%;
  height: 380px;
  border-radius: 20px;
  background-color: #2d2d2d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nft-img {
  /* background-image: url("../../../assets/images/thumb-placeholder.svg");
  background-repeat: no-repeat; */
  width: 295px;
  height: 295px;
  /*  background-color: #fff; */
}

.nft-img-placeholder {
  width: 295px;
  height: 295px;
  /* object-fit: scale-down; */
}

.nft-img-overlay {
  cursor: pointer;
  opacity: 0px;
  position: absolute;
  top: 0;
  width: 295px;
  height: 295px;
  background: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.nft-img-overlay .overlay-text {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.nft-img-overlay:hover .overlay-text {
  opacity: 1;
}
.nft-img-overlay:hover {
  background: rgba(2, 2, 2, 0.5);
  opacity: 1;
}

.overlay-hide {
  display: none;
}

.show-text {
  opacity: 1;
}

.nft-img-overlay img {
  cursor: pointer;
  width: 82px;
  height: 81px;
}

.nft-title {
  cursor: pointer;
  width: 100%;
  background-color: #648873;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.nft-actions {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.nft-action-btn {
  cursor: pointer;
  transform: scale(0.9);
}
