<div class="nft-item">
  <!-- *ngIf="item.ImageBase64" -->
  <img [src]="item.thumbnail" class="nft-img" />
  <!-- </object> -->
  <div [id]="'overlay'+itemId" class="nft-img-overlay" (click)="openPreview()">
    <label ngClass.gt-sm="overlay-text">Click to View</label>
  </div>
  <div class="nft-title" (click)="routeToBuy(item.NFTIdentifier)">{{ item.NFTName }}</div>
  <div class="nft-actions">
    <img
      class="nft-action-btn"
      src="../../../assets/images/purchase.png"
      matTooltip={{this.tip}}
      (click)="routeToBuy(item.NFTIdentifier)"
    />
    <img
      class="nft-action-btn"
      src="../../../assets/images/view.png"
      matTooltip="View NFT"
      (click)="viewNFT()"
    />
    <img
      class="nft-action-btn"
      src="../../../assets/images/wishlist.png"
      matTooltip="Add to watchlist"
      (click)="addToWatchList(item.NFTIdentifier)"

    />
    <img
      class="nft-action-btn"
      src="../../../assets/images/favorite.png"
      matTooltip="Add to favorites"
      (click)="addToFavourites(item.NFTIdentifier)"
    />
  </div>
</div>
