/* .nft-item {
  position: relative;
  width: 295px;
  max-width: 100%;
  height: 380px;
  border-radius: 20px;
  background-color: #2d2d2d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nft-img {
  
  width: 295px;
  height: 295px;
  
}

.nft-img-placeholder {
  width: 295px;
  height: 295px;
 
}

.nft-img-overlay {
  cursor: pointer;
  opacity: 0px;
  position: absolute;
  top: 0;
  width: 295px;
  height: 295px;
  background: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.nft-img-overlay .overlay-text {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.nft-img-overlay:hover .overlay-text {
  opacity: 1;
}
.nft-img-overlay:hover {
  background: rgba(2, 2, 2, 0.5);
  opacity: 1;
}

.overlay-hide {
  display: none;
}

.show-text {
  opacity: 1;
}

.nft-img-overlay img {
  cursor: pointer;
  width: 82px;
  height: 81px;
}

.nft-title {
  cursor: pointer;
  width: 100%;
  background-color: #648873;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}



.nft-action-btn {
  cursor: pointer;
  transform: scale(0.9);
}
 */
.card-parent {
  cursor: pointer;
  position: relative;
  width: 293px;
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
  background-color: #ffffff0d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
  height: 293px;
  transition: transform 0.2s;
}

.thumbnail-wrapper {
  position: relative;
  width: 100%;
  height: 293px;
  overflow: hidden;
}

.title-div {
  height: 62px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
  padding: 0px 15px 0px 15px;
  background-color: #ffffff0d;
}

.title {
  width: 198px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #80cca3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft-count {
  max-width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-view-collection {
  cursor: pointer;
  height: 46px;
  width: 100%;
  border: none;
  background-color: #ffffff0d;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: all 0.1s ease-out allow-discrete;
}

.buy-icon {
  width: 16px;
  height: 21px;
  transition: all 0.1s ease-out allow-discrete;
}

.card-parent:hover .btn-view-collection {
  color: black;
  font-weight: 600;
  background-color: #80cca3;
}

.card-parent:hover .thumbnail {
  transform: scale(1.1);
}

.card-parent:hover .buy-icon {
  filter: invert(1);
}

.nft-actions {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nft-action-btn {
  cursor: pointer;
  transform: scale(0.9);
}

.bc-icon-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
