<mat-dialog-content>
    <button class="walletbtn" (click)="metmask()">
        <img class="walletIcon" src="assets\images\metmaskicon.png">
        MetaMask
    </button><br>
    <button class="walletbtn" (click)="freighter()">Freighter</button><br>
    <button class="walletbtn" (click)="phantom()">Phantom</button>
    <button class="walletbtn">WalletConnect</button>
    <button class="walletbtn">CoinBase</button>
    <button class="walletbtn">Fortmatic</button>
    <button class="walletbtn">bitski</button>
    <button class="walletbtn">Kaikas</button>      
</mat-dialog-content>
