.wallets-sidenav {
  position: relative;
  width: 400px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.profile {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #595959;
  margin-bottom: 20px;
}

.acc {
  max-width: 50%;
  overflow: hidden;
}

.profile mat-icon {
  transform: scale(1.5);
}

.profile label {
  font-weight: 400;
}

.wallets-sidenav .wallets {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  padding: 0px 30px 0px 30px;
}

.wallets-sidenav .wallets .wallet {
  background: #494848;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 0.1s ease-in-out;
}

.wallets-sidenav .wallets .wallet:first-child {
  border-radius: 10px 10px 0px 0px;
}

.wallets-sidenav .wallets .wallet:last-child {
  border-radius: 0px 0px 10px 10px;
}

.wallets-sidenav .wallets .wallet:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.msg {
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.wallets-sidenav .wallets .wallet .inner-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 148px;
}

.wallets-sidenav .wallets .wallet .logo {
  vertical-align: middle;
  height: 25px;
  width: 25px;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  row-gap: 10px;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
  border: 1px solid #595959;
}

.balance .title {
  font-size: 18px;
}

.balance .amount {
  font-size: 28px;
  font-weight: 600;
  word-break: break-all;
  color: #80cca3;
}

.balance .logo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.balance .usd {
  font-size: 18px;
  color: rgba(119, 119, 119, 1);
  word-break: break-all;
  max-width: 100%;
  margin: 0px 10px 0px 10px;
}

.balance .pk {
  font-size: 10px;
  color: rgba(119, 119, 119, 1);
  word-break: break-all;
  max-width: 60%;
  text-align: center;
}

.loading-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
  border: 1px solid #595959;
  /* background: rgba(115, 115, 115, 0.326); */
}
