<div class="wallets-sidenav">
  <div class="profile">
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
      "
    >
      <mat-icon
        matRipple
        (click)="close()"
        class="cursor-pointer"
        fxShow.lt-md="true"
        fxHide.md="true"
        fxHide.gt-md="true"
        >close</mat-icon
      >
      <mat-icon class="material-symbols-outlined"> account_circle </mat-icon>
      <label>{{ walletName !== "" ? walletName : "My Wallet" }}</label>
    </div>

    <label class="acc" *ngIf="walletConnected">
      {{
        address.substring(0, 6) +
          "..." +
          address.substring(address.length - 4, address.length)
      }}
    </label>
  </div>
  <div *ngIf="!walletConnected">
    <p class="msg">
      If you don't have a wallet yet, you can select a provider and create one
      now.
    </p>
    <div class="wallets">
      <div class="wallet cursor-pointer" (click)="metmask()">
        <div class="inner-div">
          <img
            src="../../../assets/images/metamask.png"
            class="logo cursor-pointer"
          /><label class="cursor-pointer">Metamask</label>
        </div>
      </div>
      <div class="wallet cursor-pointer" (click)="freighter()">
        <div class="inner-div">
          <img
            src="../../../assets/images/freighter.png"
            class="logo cursor-pointer"
          /><label class="cursor-pointer">Freighter</label>
        </div>
      </div>
      <div class="wallet cursor-pointer" (click)="phantom()">
        <div class="inner-div">
          <img
            src="../../../assets/images/phantom.png"
            class="logo cursor-pointer"
          /><label class="cursor-pointer">Phantom</label>
        </div>
      </div>
      <div class="wallet cursor-pointer" (click)="albedo()">
        <div class="inner-div">
          <img
            src="../../../assets/images/albedo.png"
            class="logo cursor-pointer"
          /><label class="cursor-pointer">Albedo</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="walletConnected">
    <div class="loading-div" *ngIf="loading">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="balance" *ngIf="!loading && walletName === 'Metamask'">
      <label class="title">Total Balance</label>
      <label class="amount">{{ balance }} ETH</label>
      <label class="usd">${{ usd }} USD</label>
    </div>
    <div class="balance" *ngIf="!loading && walletName === 'Freighter'">
      <label class="title">Total Balance</label>
      <label class="amount">{{ balance }} XLM</label>
      <label class="usd">${{ usd }} USD</label>
    </div>
    <div class="balance" *ngIf="!loading && walletName === 'Albedo'">
      <label class="title">Total Balance</label>
      <label class="amount">{{ balance }} XLM</label>
      <label class="usd">${{ usd }} USD</label>
    </div>
    <div class="balance" *ngIf="!loading && walletName === 'Phantom'">
      <label class="title">Total Balance</label>
      <label class="amount">{{ balance }} SOL</label>
      <label class="usd">${{ usd }} USD</label>
    </div>
  </div>
  <div *ngIf="freighterConnected"></div>
</div>
