<div class="container">
  <div class="cont-wrapper">
    <div
      class="nft-story-content"
      ngStyle.lt-lg="height : fit-content; padding-right: 0px;"
    >
      <div class="nft-story-header" fxFlex="100%" fxLayout="row wrap">
        <div
          fxLayout="row wrap"
          fxFlex.gt-xl="50%"
          fxFlex.xl="70%"
          fxFlex.xs="90%"
          fxFlex.sm="90%"
          fxFlex.md="90%"
          fxFlex.lg="90%"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <div class="breadcrumb-div">
            <a class="breadcrumb-link">Explore</a>
            <mat-icon
              class="material-symbols-outlined"
              style="vertical-align: middle"
            >
              navigate_next
            </mat-icon>

            <a style="color: #00c853">NFT NAME</a>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="nft-info" ngStyle.lt-sm="width:100%; ">
          <div
            ngStyle.lt-sm="
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
            "
          >
            <img
              src="../../../assets/images/Rectangle 2.png"
              class="story-img"
            />
          </div>

          <div fxLayout="column">
            <img
              src="../../../assets/images/blockchain-icons/ethereum.png"
              class="blockchain-logo"
            />
            <label class="name">TOMATOES - A0003</label>
            <div style="margin-top: 7px">
              <label class="cat">Category - </label>
              <label class="cat-val">Tomatoes A1</label>
            </div>
          </div>
        </div>
      </div>
      <div class="story">
        <p class="normal-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
          tortor at massa hendrerit suscipit. Phasellus justo justo, ultrices a
          vehicula vel, pellentesque nec odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Etiam eget justo
          at enim egestas consequat. In mattis suscipit dui vitae dignissim.
          Morbi tempus ante aliquet mauris volutpat, at lacinia sem efficitur.
          Pellentesque tristique id metus non tristique. Donec viverra purus
          quis porttitor venenatis. Integer posuere quam sed erat convallis
          volutpat. Integer dapibus urna est, id dapibus orci congue id. Quisque
          pretium enim ipsum, non lobortis tellus ultrices sit amet. Fusce et
          nisi et lectus finibus pharetra. Suspendisse faucibus metus vitae
          tempus tincidunt. Aliquam erat volutpat. Donec in est non tellus
          rhoncus pretium. Integer pharetra enim vitae tortor molestie pharetra.
          Donec euismod turpis sed sapien luctus, quis malesuada elit rutrum.
          Donec nec dignissim lectus. Nulla nec ligula nulla. Vivamus tristique
          aliquam cursus. Duis justo neque, cursus ut lacus sit amet, dapibus
          pretium dui. Nullam quis consequat elit, quis semper tortor. Nunc
          pellentesque lacus sed mi semper, eget scelerisque nibh consequat.
          <br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
          tortor at massa hendrerit suscipit. Phasellus justo justo, ultrices a
          vehicula vel, pellentesque nec odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Etiam eget justo
          at enim egestas consequat. In mattis suscipit dui vitae dignissim.
          Morbi tempus ante aliquet mauris volutpat, at lacinia sem efficitur.
          Pellentesque tristique id metus non tristique. Donec viverra purus
          quis porttitor venenatis. Integer posuere quam sed erat convallis
          volutpat. Integer dapibus urna est, id dapibus orci congue id. Quisque
          pretium enim ipsum, non lobortis tellus ultrices sit amet. Fusce et
          nisi et lectus finibus pharetra. Suspendisse faucibus metus vitae
          tempus tincidunt. Aliquam erat volutpat. Donec in est non tellus
          rhoncus pretium. Integer pharetra enim vitae tortor molestie pharetra.
          Donec euismod turpis sed sapien luctus, quis malesuada elit rutrum.
          Donec nec dignissim lectus. Nulla nec ligula nulla. Vivamus tristique
          aliquam cursus. Duis justo neque, cursus ut lacus sit amet, dapibus
          pretium dui. Nullam quis consequat elit, quis semper tortor. Nunc
          pellentesque lacus sed mi semper, eget scelerisque nibh consequat.
        </p>
      </div>
    </div>
    <div class="sidebar-wrapper" fxHide.lt-lg="true">
      <div class="nft-story-sidebar">
        <h3>Browse Stories</h3>
        <div
          class="story-card"
          *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        >
          <img src="https://via.placeholder.com/150" />
          <div class="actions">
            <label>TOMATOES - A0003</label>
            <button mat-flat-button>View Story</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="browse-wrapper"
    fxShow.lt-lg="true"
    fxHide.lg="true"
    fxHide.gt-lg="true"
  >
    <div class="browse">
      <h3>Browse Stories</h3>
      <div class="list">
        <div
          class="story-card"
          *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        >
          <img src="https://via.placeholder.com/150" />
          <div class="actions">
            <label>TOMATOES - A0003</label>
            <button mat-flat-button>View Story</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <iframe class="w-100" src="{{this.story}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<mat-card class="cardblog">
<pre>
    <code [innerHTML]="this.nftstory" class="code"></code>
  </pre>
</mat-card> -->
</div>
