<div class="container">
  <div class="cont-wrapper">
    <div
      class="nft-story-content"
      ngStyle.lt-lg="height : fit-content; padding-right: 0px;"
    >
      <div class="nft-story-header" fxLayout="row wrap">
        <div
          fxLayout="row wrap"
          fxFlex.gt-xl="50%"
          fxFlex.xl="70%"
          fxFlex.xs="90%"
          fxFlex.sm="90%"
          fxFlex.md="90%"
          fxFlex.lg="90%"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <div class="breadcrumb-div">
            <a
              class="breadcrumb-link"
              (click)="breadCrumbNavigate('/help-center')"
              >Help Center</a
            >
            <mat-icon
              class="material-symbols-outlined"
              style="vertical-align: middle"
            >
              navigate_next
            </mat-icon>

            <a>Blogs</a>
            <mat-icon
              class="material-symbols-outlined"
              style="vertical-align: middle"
            >
              navigate_next
            </mat-icon>

            <a style="color: #00c853">{{ this.topics }}</a>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="nft-info" ngStyle.lt-sm="width:100%; ">
          <div
            ngStyle.lt-sm="
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
            "
          >
            <img [src]="thumbnail" class="story-img" />
          </div>
       
          <div style="flex: 1">
            <p>
              These blogs depict the information of the marketplace and
              tracified as whole.
            </p>
            <label class="name">{{ this.topics }}</label>
          </div>
        </div>
      </div>
      <div class="story">
        <p class="normal-text">
          {{ this.description }}
        </p>
      </div>
    </div>
    <div class="sidebar-wrapper" fxHide.lt-lg="true">
      <div class="nft-story-sidebar">
        <h3>Browse Stories</h3>
        <div class="story-sidebar-content">
          <div class="story-card" *ngFor="let item of List">
            <img [src]="item.thumbnail" />
            <div class="actions">
              <div
                style="
                  width: 100%;
                  height: 20px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                "
              >
                <label class="story-title">{{ item.topic }}</label>
              </div>
              <div
                style="
                  width: 100%;
                  height: 40px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                "
              >
                <button mat-flat-button (click)="selectBlog(item.topic)">
                  View Story
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="browse-wrapper"
    fxShow.lt-lg="true"
    fxHide.lg="true"
    fxHide.gt-lg="true"
  >
    <div class="browse">
      <h3>Browse Stories</h3>
      <div class="list">
        <div class="story-card" *ngFor="let item of List">
          <img [src]="item.thumbnail" />
          <div class="actions">
            <label>{{ item.topic }}</label>
            <button mat-flat-button (click)="selectBlog(item.topic)">
              View Story
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
