<div class="ep-main-div" fxLayout="row wrap">
  <div class="ep-main-wrapper">
    <div style="display:flex; flex-direction:column; row-gap: 20px">
      <mat-icon class="back-icon" matTooltip="Back" (click)="back()"
      >arrow_back</mat-icon>
      <div id="ep-header-title" fxFlex="100%"><label>Edit Profile of {{displayName}}</label></div>
    </div>
<div>
  <form
    [formGroup]="controlGroupProfile"
    class="example-form"
    fxFlex.lg="100%"
    fxFlex.lt-lg="100%"
    fxLayout="row wrap"
    *ngIf="!loading"
  >
    <div class="form-field-div" fxLayout="row wrap" fxFlex="100%">
      <label class="form-field-label" style="align-self: center" fxFlex.lg="30%" fxFlex.gt-lg="10%" fxFlex.lt-lg="98%"
        >Change Profile Picture</label
      >
      <div
        id="img-section"
        (click)="triggerClick()"
        fxFlex.lg="50%"
        fxFlex.lt-lg="98%"
      >
        <div id="img-upload-area" matTooltip="Upload Image" matRipple>
          <img
            src="../../../../assets/images/img-upload.png"
            id="img-placeholder"
            *ngIf="base64 === ''"
          />
          <img [src]="base64" *ngIf="base64 !== ''" id="img" />
          <input
            type="file"
            accept="image/*"
            (change)="onChange($event)"
            #fileUpload
            hidden
          />
        </div>
      </div>
    </div>
    <div
      class="form-field-div"
      style="align-items: center"
      fxLayout="row wrap"
      fxFlex="100%"
    >
      <label class="form-field-label" fxFlex.lg="30%" fxFlex.gt-lg="10%" fxFlex.lt-lg="98%"
        >Edit Name</label
      >
      <div class="ep-input-group" fxFlex.lg="58%" fxFlex.gt-lg="40%" fxFlex.lt-lg="98%">
        <div class="input-field-wrapper">
          <input type="text" matInput formControlName="name" [(ngModel)]="EndorseList.Name" placeholder="Your Name" />
          <span></span>
        </div>
      </div>
    </div>
    <div
    class="form-field-div"
    style="align-items: center"
    fxLayout="row wrap"
    fxFlex="100%"
  >
    <label class="form-field-label" fxFlex.lg="30%" fxFlex.gt-lg="10%" fxFlex.lt-lg="98%"
      >Edit Contact</label
    >
    <div class="ep-input-group" fxFlex.lg="58%" fxFlex.gt-lg="40%" fxFlex.lt-lg="98%">
      <div class="input-field-wrapper">
        <input type="text" matInput formControlName="contact" [(ngModel)]="EndorseList.Contact" placeholder="Your Contact" />
        <span></span>
      </div>
    </div>
  </div>
  <div
  class="form-field-div"
  style="align-items: center"
  fxLayout="row wrap"
  fxFlex="100%"
>
  <label class="form-field-label" fxFlex.lg="30%" fxFlex.gt-lg="10%" fxFlex.lt-lg="98%"
    >Edit Email</label
  >
  <div class="ep-input-group" fxFlex.lg="58%" fxFlex.gt-lg="40%" fxFlex.lt-lg="98%">
    <div class="input-field-wrapper">
      <input type="text" matInput formControlName="mail" [(ngModel)]="EndorseList.Email" placeholder="Your Email" />
      <span></span>
    </div>
  </div>
</div>
<div
    class="form-field-div"
    style="align-items: center"
    fxLayout="row wrap"
    fxFlex="100%"
  >
    <label class="form-field-label" fxFlex.lg="30%" fxFlex.gt-lg="10%" fxFlex.lt-lg="98%"
      ></label
    >
    <div class="ep-input-group" style="align-items: flex-end; justify-content: flex-end" ngStyle.lt-md="width:100%; display: flex; flex-direction : row;justify-content:center" fxFlex.lg="58%" fxFlex.gt-lg="40%" fxFlex.lt-lg="98%">
      <button mat-flat-button class="btn-save" (click)="saveProfile()">
        Save Changes
      </button>
    </div>
  </div>
  </form>
</div>
</div>
</div>
