<div class="overview-main-div">
  <div>
   
    <img
      style="vertical-align: middle; margin-right: 10px; transform: scale(1.1)"
      [src]="'../../../assets/images/' + selectedBlockchain + '.png'"
    />
    {{
      selectedBlockchain[0].toUpperCase() +
        selectedBlockchain.substring(1, selectedBlockchain.length)
    }}
  </div>
  <!-- <div class="stats">
    <label style="margin-right: 30px"  (click)="goToEdit(User)">EDIT USER</label>
    <label (click)="myCollections(User)">MY COLLECTIONS</label>
  </div> -->
         
  <div
    class="overview-picks-header"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <div class="overview-picks-header-title" fxFlex.lt-sm="100%"  id="hotpick">
      Your Hot Picks
    </div>
    <div class="overview-picks-header-actions">
      <button class="overview-picks-header-btn" (click)="viewall('Hotpicks')">View All</button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon class="material-symbols-outlined"> navigate_before </mat-icon>
      </button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon
          class="material-symbols-outlined"
          style="transform: rotate(180deg)"
        >
          navigate_before
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="overview-nft-content">
    <div class="overview-nft-item" *ngFor="let item1 of ListHotpicks">
      <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
      <img class="overview-nft-img" [src]="item1.ImageBase64" />
      <!-- <object [data]="item1.ImageBase64" type="image/svg+xml" class="uploaded-img"  id="img" >
        <img id="nft-dnd-u-img" [src]="item1.ImageBase64" *ngIf="item1.ImageBase64" id="img" class="overview-nft-img"  />
      </object> -->
      <div class="overview-nft-title">{{ item1.NFTName }}</div>
      <div class="overview-nft-actions">
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/purchase.png"
          matTooltip="Buy NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/view.png"
          matTooltip="View NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/wishlist.png"
          matTooltip="Add to watchlist"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/favorite.png"
          matTooltip="Add to favorites"
        />
      </div>
    </div>
  </div>

  <div
    class="overview-picks-header"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <div class="overview-picks-header-title" fxFlex.lt-sm="100%" id="mints">
      Your Minted NFTs
    </div>
    <div class="overview-picks-header-actions">
      <button class="overview-picks-header-btn" (click)="viewall('Mints')">View All</button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon class="material-symbols-outlined"> navigate_before </mat-icon>
      </button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon
          class="material-symbols-outlined"
          style="transform: rotate(180deg)"
        >
          navigate_before
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="overview-nft-content">
    <div class="overview-nft-item" *ngFor="let item3 of ListMinted">
      <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
      <img class="overview-nft-img" [src]="item3.ImageBase64" />
      <!-- <object [data]="item3.ImageBase64" type="image/svg+xml" class="uploaded-img"  id="img" >
        <img id="nft-dnd-u-img" [src]="item3.ImageBase64" *ngIf="item3.ImageBase64" id="img" class="overview-nft-img"  />
      </object> -->
      <div class="overview-nft-title">{{ item3.NFTName }}</div>
      <div class="overview-nft-actions">
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/purchase.png"
          matTooltip="Sell NFT"
          (click)="putToSaleafterMint(item3.NFTIdentifier)"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/view.png"
          matTooltip="View NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/wishlist.png"
          matTooltip="Add to watchlist"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/favorite.png"
          matTooltip="Add to favorites"
        />
      </div>
    </div>
  </div>
  <div
    class="overview-picks-header"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <div class="overview-picks-header-title" fxFlex.lt-sm="100%" id="bought">
      Items you Bought
    </div>
    <div class="overview-picks-header-actions">
      <button class="overview-picks-header-btn" (click)="viewall('Bought')">View All</button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon class="material-symbols-outlined"> navigate_before </mat-icon>
      </button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon
          class="material-symbols-outlined"
          style="transform: rotate(180deg)"
        >
          navigate_before
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="overview-nft-content">
    <div class="overview-nft-item" *ngFor="let item4 of ListBought">
      <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
      <img class="overview-nft-img" [src]="item4.ImageBase64" />
      <!-- <object [data]="item4.ImageBase64" type="image/svg+xml" class="uploaded-img"  id="img" >
        <img id="nft-dnd-u-img" [src]="item4.ImageBase64" *ngIf="item4.ImageBase64" id="img" class="overview-nft-img"  />
      </object> -->
      <div class="overview-nft-title">{{ item4.NFTName }}</div>
      <div class="overview-nft-actions">
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/purchase.png"
          matTooltip="Sell NFT"
          (click)="putToSaleafterBought(item4.NFTIdentifier)"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/view.png"
          matTooltip="View NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/wishlist.png"
          matTooltip="Add to watchlist"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/favorite.png"
          matTooltip="Add to favorites"
        />
      </div>
    </div>
  </div>
  <div
    class="overview-picks-header"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <div class="overview-picks-header-title" fxFlex.lt-sm="100%" id="favourite">
      Your Favourites
    </div>
    <div class="overview-picks-header-actions">
      <button class="overview-picks-header-btn" (click)="viewall('Favourites')">View All</button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon class="material-symbols-outlined"> navigate_before </mat-icon>
      </button>
      <button class="overview-picks-header-btn rounded">
        <mat-icon
          class="material-symbols-outlined"
          style="transform: rotate(180deg)"
        >
          navigate_before
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="overview-nft-content">
    <div class="overview-nft-item" *ngFor="let item5 of ListTrends">
      <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
      <img class="overview-nft-img" [src]="item5.ImageBase64" />
      <!-- <object [data]="item5.ImageBase64" type="image/svg+xml" class="uploaded-img"  id="img" >
        <img id="nft-dnd-u-img" [src]="item5.ImageBase64" *ngIf="item5.ImageBase64" id="img" class="overview-nft-img"  />
      </object> -->
      <div class="overview-nft-title">{{ item5.NFTName }}</div>
      <div class="overview-nft-actions">
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/purchase.png"
          matTooltip="Buy NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/view.png"
          matTooltip="View NFT"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/wishlist.png"
          matTooltip="Add to watchlist"
        />
        <img
          class="overview-nft-action-btn"
          src="../../../assets/images/favorite.png"
          matTooltip="Add to favorites"
        />
      </div>
    </div>
  </div>
  <div
  class="overview-picks-header"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
>
  <div class="overview-picks-header-title" fxFlex.lt-sm="100%" id="sales">
    Your NFTS on Sale
  </div>
  <div class="overview-picks-header-actions">
    <button class="overview-picks-header-btn" (click)="viewall('Sale')">View All</button>
    <button class="overview-picks-header-btn rounded">
      <mat-icon class="material-symbols-outlined"> navigate_before </mat-icon>
    </button>
    <button class="overview-picks-header-btn rounded">
      <mat-icon
        class="material-symbols-outlined"
        style="transform: rotate(180deg)"
      >
        navigate_before
      </mat-icon>
    </button>
  </div>
</div>
<div class="overview-nft-content">
  <div class="overview-nft-item" *ngFor="let item2 of ListSales">
    <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
    <img class="overview-nft-img" [src]="item2.ImageBase64" />
    <!-- <object [data]="item2.ImageBase64" type="image/svg+xml" class="uploaded-img"  id="img" >
      <img id="nft-dnd-u-img" [src]="item2.ImageBase64" *ngIf="item2.ImageBase64" id="img" class="overview-nft-img"  />
    </object> -->
    <div class="overview-nft-title">{{ item2.NFTName }}</div>
    <div class="overview-nft-actions">
      <img
        class="overview-nft-action-btn"
        src="../../../assets/images/purchase.png"
        matTooltip="Buy NFT"
        (click)="routeToBuy(item2.NFTIdentifier)"
      />
      <img
        class="overview-nft-action-btn"
        src="../../../assets/images/view.png"
        matTooltip="View NFT"
      />
      <img
        class="overview-nft-action-btn"
        src="../../../assets/images/wishlist.png"
        matTooltip="Add to watchlist"
      />
      <img
        class="overview-nft-action-btn"
        src="../../../assets/images/favorite.png"
        matTooltip="Add to favorites"
      />
    </div>
  </div>
</div>
</div>
