<div class="close-div"><mat-icon mat-dialog-close> close </mat-icon></div>
<div class="dialog-header">
  <div class="dialog-header-cont">
    <label class="dialog-title">{{data?.promtHeading}}</label>
    <label class="nft-name">{{data?.nftName}} </label>
  </div>
  <div class="dialog-header-cont">
    <img [src]="data?.thumbnail" class="nft-thumb" />
  </div>

</div>
<mat-dialog-content>
  <div class="dialog-content">
    <label class="bold-text">You will be charged. {{this.state}}</label>
    <div class="fee-cont">
      <label>{{data?.feeTypeName}}</label>
      <label>{{data?.serviceFee}} {{currency}} ({{serviceFeeUSD}}) USD</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox"  (change)="onCheckedChange($event)" />
      <label>I accept the <a href="#" class="highlight">Terms of Service</a> for using this service, and hereby
        confirm I have read the <a href="#" class="highlight">Privacy Policy.</a></label>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
<!--   <button
    mat-dialog-close
    class="dialog-btn-secondary"
    (click)="cancel()"
    matRipple
  >
    {{ data?.cancelText }}
  </button> -->
  <button
    cdkFocusInitial
    class="dialog-btn-primary"
    [disabled]="!acceptEnabled"
    (click)="confirm()"
    matRipple
  >
    {{data?.buttonAction}}
  </button>
</mat-dialog-actions>
