<div class="footer-wrapper">
  <div class="footer-top ">
    <div class="footer-top-inner cont-wrapper">
      <label class="title" ngStyle.lt-md="width: 100%">
        Subscribe to stay tuned for new web design and latest updates.
      </label>
      <div class="subscribe-wrapper">
        <label>Let's do it! — </label>

        <div class="subscribe-input-group">
          <form [formGroup]="controlGroup">
          <input type="text" placeholder="joe@gmail.com" formControlName="Mail"/>
        </form>
        </div>
        <button mat-flat-button class="btn-subscribe" (click)="subscribeNow()">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div
      class="footer-bottom-inner cont-wrapper"
      ngStyle.lt-md="flex-wrap: wrap; row-gap: 40px"
    >
      <div class="footer-section-1" ngStyle.lt-md="width: 100%">
        <img
          src="../../../assets/images/Tracified-NFT-Marketplace.png"
          class="marketplace-logo"
        />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper justo vitae justo malesuada dignissim. Ut volutpat luctus
          pharetra.
        </p>
        <label> © 2022 All Rights Reserved </label>
      </div>
      <div class="footer-section-2">
        <div class="links-section">
          <label class="title">Explore</label>
          <a href="#" class="footer-normal-text">Landing Page</a>
          <a href="#" class="footer-normal-text">Popup Builder</a>
          <a href="#" class="footer-normal-text">Web-design</a>
          <a href="#" class="footer-normal-text">Content</a>
          <a href="#" class="footer-normal-text">Integrations</a>
        </div>
        <div class="links-section">
          <label class="title">Collections</label>
          <a href="#" class="footer-normal-text">Web-designers</a>
          <a href="#" class="footer-normal-text">Marketers</a>
          <a href="#" class="footer-normal-text">Small Business</a>
          <a href="#" class="footer-normal-text">Website Builder</a>
        </div>
        <div class="links-section">
          <label class="title">Resources</label>
          <a href="#" class="footer-normal-text">Academy</a>
          <a href="#" class="footer-normal-text">Blog</a>
          <a href="#" class="footer-normal-text">Themes</a>
          <a href="#" class="footer-normal-text">Hosting</a>
          <a href="#" class="footer-normal-text">Developers</a>
          <a href="#" class="footer-normal-text">Support</a>
        </div>
        <div class="links-section">
          <label class="title">Tracified</label>
          <a href="#" class="footer-normal-text">About Us</a>
          <a href="#" class="footer-normal-text">Careers</a>
          <a href="#" class="footer-normal-text">FAQs</a>
          <a href="#" class="footer-normal-text">Teams</a>
          <a href="#" class="footer-normal-text">Contact Us</a>
        </div>
        <div class="contact">
          <label class="title">Contact Us</label>
          <div fxLayout="row" style="column-gap: 10px">
            <img
              src="../../../assets/images/social/icon.png"
              width="24px"
              height="24px"
            />
            <label class="footer-normal-text"
              >Wisconsin Ave, Suite 700 Chevy Chase, Maryland 20815</label
            >
          </div>
          <div fxLayout="row" style="column-gap: 10px">
            <img
              src="../../../assets/images/social/email.png"
              width="24px"
              height="24px"
            />
            <label class="footer-normal-text">support@tracified.com</label>
          </div>
          <div style="margin-top: 15px">
            <label class="title">Follow Us</label>
            <div class="social">
              <img src="../../../assets/images/social/Facebook.png" />
              <img
                src="../../../assets/images/social/Twitter.png"
                class="social-icon"
              />
              <img
                src="../../../assets/images/social/Instagram.png"
                class="social-icon"
              />
              <img
                src="../../../assets/images/social/LinkedIn.png"
                class="social-icon"
              />
              <img
                src="../../../assets/images/social/YouTube.png"
                class="social-icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
