<div class="explore-parent">
  <div class="explore-container">
    <div class="explore-header cont-wrapper">
      <mat-icon class="back" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <label class="explore-heading">{{ collectionName }} Collection</label>
    </div>

    <div class="bc-filter-wrapper cont-wrapper">
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'all'"
        (click)="changeBlockchain('all')"
        matRipple
      >
        <img class="white-icon" [src]="'../../../assets/images/all.png'" />
        <label>All</label>
      </div>
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'stellar'"
        (click)="changeBlockchain('stellar')"
        matRipple
      >
        <img [src]="'../../../assets/images/stellar.png'" />
        <label>Stellar</label>
      </div>
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'ethereum'"
        (click)="changeBlockchain('ethereum')"
        matRipple
      >
        <img [src]="'../../../assets/images/ethereum.png'" />
        <label>Ethereum</label>
      </div>
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'polygon'"
        (click)="changeBlockchain('polygon')"
        matRipple
      >
        <img [src]="'../../../assets/images/polygon.png'" />
        <label>Polygon</label>
      </div>
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'solana'"
        (click)="changeBlockchain('solana')"
        matRipple
      >
        <img [src]="'../../../assets/images/solana.png'" />
        <label>Solana</label>
      </div>
      <div
        class="bc-filter-name"
        [class.selected-bc]="selectedBlockchain === 'usd'"
        (click)="changeBlockchain('usd')"
        matRipple
      >
        <img
          [src]="'../../../assets/images/usd.png'"
          style="width: 18px; height: 18px"
        />
        <label>USD</label>
      </div>
    </div>
    <div class="filter-dd-wrapper cont-wrapper">
      <div
        style="
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        "
      >
        <div #ddRef class="filter-dropdown" (click)="clickedOnDropdown()">
          <div class="filter-dd-btn" (click)="openFilterDropdown()" matRipple>
            <mat-icon class="material-symbols-outlined"> swap_vert </mat-icon>
            <span *ngIf="selectedFilter === 'all'">Latest</span>
            <span *ngIf="selectedFilter === 'hotpicks'">Hot Picks</span>
            <span *ngIf="selectedFilter === 'trending'">Trending</span>
            <mat-icon class="material-symbols-outlined">
              arrow_drop_down
            </mat-icon>
          </div>

          <div class="filter-dropdown-content">
            <div (click)="setFilter('all')" matRipple>Latest</div>
            <div (click)="setFilter('hotpicks')" matRipple>Hot Picks</div>
            <div (click)="setFilter('trending')" matRipple>Trending</div>
          </div>
        </div>
      </div>
    </div>
    <div class="explore-content cont-wrapper" fxLayout="row wrap">
      <div class="cont-inner" *ngIf="!loading && List.length > 0">
        <div *ngFor="let item of List; index as i">
          <app-nft-card
            *ngIf="i !== List.length - 1"
            [item]="item"
            [itemId]="i.toString()"
            [blockchain]="item.Blockchain"
            [creatoruserid]="item.CreatorUserId"
            [sellingstatus]="item.SellingStatus"
            [currentownerpk]="item.CurrentOwnerPK"
          ></app-nft-card>

          <!--last item-->
          <app-nft-card
            *ngIf="i === List.length - 1"
            [item]="item"
            [itemId]="i.toString()"
            [blockchain]="item.Blockchain"
            [creatoruserid]="item.CreatorUserId"
            [sellingstatus]="item.SellingStatus"
            [currentownerpk]="item.CurrentOwnerPK"
            #theLastItem
          ></app-nft-card>
        </div>
      </div>
      <div class="cont-inner" *ngIf="loading || nextPageLoading">
        <app-nft-card-skeleton
          *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]"
        ></app-nft-card-skeleton>
      </div>
      <div
        class="explore-no-content"
        *ngIf="
          !loading && !nextPageLoading && List.length === 0 && showNoNftError
        "
      >
        <img
          *ngIf="isStellarFlag || isSolanaFlag || isAllFlag"
          src="../../../assets/images/no-nfts.svg"
        />
        <label *ngIf="isStellarFlag || isSolanaFlag || isAllFlag"
          >No NFTs Found</label
        >
        <img
          *ngIf="!isStellarFlag && !isSolanaFlag && !isAllFlag"
          src="../../../assets/images/coming-soon.svg"
        />
        <label *ngIf="!isStellarFlag && !isSolanaFlag && !isAllFlag"
          >{{
            selectedBlockchain.charAt(0).toUpperCase() +
              selectedBlockchain.slice(1)
          }}
          Coming Soon...</label
        >
      </div>
    </div>
  </div>
</div>
