<div class="faq-main-div">
  <div class="faq-wrapper" fxLayout="row wrap">
    <label class="faq-title" style="margin-bottom: 10px" fxFlex="100%"
      >User Question</label
    >
    <div fxLayout="row wrap" fxFlex="100%">
      <label class="label-title" fxFlex="20%" fxFlex.lt-sm="80%">Email</label
      ><label fxFlex="20%" fxFlex.lt-sm="80%" class="label-data">{{
        this.data.usermail
      }}</label>
    </div>
    <div fxLayout="row wrap" fxFlex="100%">
      <label class="label-title" fxFlex="20%" fxFlex.lt-sm="80%">Category</label
      ><label fxFlex="20%" fxFlex.lt-sm="80%" class="label-data">{{
        this.data.category
      }}</label>
    </div>
    <div fxLayout="row wrap" fxFlex="100%">
      <label class="label-title" fxFlex="20%" fxFlex.lt-sm="80%">Subject</label
      ><label fxFlex="20%" fxFlex.lt-sm="80%" class="label-data">{{
        this.data.subject
      }}</label>
    </div>
    <div fxLayout="row wrap" fxFlex="100%">
      <label class="label-title" fxFlex="20%" fxFlex.lt-sm="80%"
        >Description</label
      ><label fxFlex="20%" fxFlex.lt-sm="80%" class="label-data">{{
        this.data.desc
      }}</label>
    </div>
    <div fxLayout="row wrap" fxFlex="100%">
      <label class="label-title" fxFlex="20%" fxFlex.lt-sm="80%"
        >Question ID</label
      >
      <label
        name="PKval"
        ngDefaultControl
        [(ngModel)]="questionID"
        [ngModelOptions]="{ standalone: true }"
        fxFlex="20%"
        fxFlex.lt-sm="80%"
        class="label-data"
        >{{ this.data.userquestionID }}</label
      >
    </div>
    <div fxLayout="row wrap" fxFlex="100%">
      <label *ngIf="imagepresent" class="label-title" fxFlex="20%" fxFlex.lt-sm="80%"
        >Attachment</label
      >
      <img
        fxFlex="20%"
        fxFlex.lt-sm="80%"
        (click)="showimage()"
        *ngIf="imagepresent"
        class="attachment-img"
        [src]="imagePath"
      />
    </div>
    <form fxFlex="100%" [formGroup]="controlGroup" fxLayout="row wrap">
      <div
        fxFlex="100%"
        fxFlex.lt-sm="100%"
        style="display: flex; flex-direction: column; row-gap: 20px"
      >
        <label class="label-title">Type Your answer.</label>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          fxFlex="100%"
        >
          <textarea matInput formControlName="answer" name="answer"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button
          mat-flat-button
          class="btn-submit"
          id="submitbtn"
          (click)="updateUserFAQ()"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
