.faq-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.faq-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.faq-wrapper {
  margin: 0px 75px 0px 75px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.label-title {
  color: #10ceac;
  font-weight: 700;
  font-size: 16px;

  margin-right: 60px;
}

.label-data {
  max-width: 50px;
}

.attachment-img {
  max-height: 200px;
  max-width: 200px;
  cursor: pointer;
}

.btn-submit {
  background: #10ceac;
  color: black;
  font-size: medium;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
}

.txtarea-input-group {
  overflow: hidden;
  width: 100%;
  background: #2d2d2d;
  border-radius: 20px;
  transition: 0.15s ease;
}

.txtarea-input-group textarea {
  padding: 10px;
  font-size: 14px;
  width: 95%;
  margin: 10px;
  height: 125px;
  background: transparent;
  border: none;
  color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
  background-color: #2d2d2d;
  border-radius: 16px;
  transition: none !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: transparent;
  background-color: #2d2d2d;
  border-radius: 16px;
}

.txtarea-input-group textarea:focus {
  outline: none;
}

.example-full-width textarea {
  height: 175px;
}

::placeholder {
  color: #686868;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .faq-main-div {
    padding-top: 80px;
  }
  .faq-wrapper {
    margin: 0px 35px 0px 35px;
  }
}
