<div class="explore-parent">
  <div class="explore-container">
    <div class="explore-header cont-wrapper">
      <mat-icon class="back" matTooltip="Back" (click)="back()"
        >arrow_back</mat-icon
      >
      <label class="explore-heading">Explore on Sale Collections</label>
    </div>
    <div class="explore-content cont-wrapper" fxLayout="row wrap">
      <div class="cont-inner" *ngIf="!loading">
        <div *ngFor="let item of List; index as i">
          <app-nft-card
            [item]="item"
            [itemId]="i.toString()"
            [blockchain]="item.Blockchain"
            [creatoruserid]="item.CreatorUserId"   [sellingstatus]="item.SellingStatus" [currentownerpk]="item.CurrentOwnerPK"
          ></app-nft-card>
        </div>
      </div>
      <div class="explore-loading" *ngIf="loading">
        <app-loader [displayText]="'Loading NFTs...'"></app-loader>
      </div>
      <div class="explore-no-content" *ngIf="!loading && List.length === 0">
        <img src="../../../assets/images/no-content.png" />
        <label>No NFTs Found</label>
      </div>
    </div>
  </div>
</div>
